@charset "utf-8";

html.fullpage,
html.fullpage body {
    height: 100%;
    color: #333;
    background-color: #f5f5f5;
}

@media screen and (min-width: 768px) {
    html body {
        min-width: 8.533333rem;
        max-width: 14.4rem;
        margin: 0 auto;
    }
}

body {
    background-color: #f5f5f5;
}

.fullpage body>.wrap {
    overflow-y: auto;
}

/*搜索*/
.search-wrap {
    padding: .266667rem .4rem;
    width: 100%;
    background-color: #fff;
}

.search-box {
    height: .906667rem;
    line-height: .906667rem;
    border-radius: .453333rem;
    background-color: #f5f5f5;
}

.search-box .form-control,
.search-box .btn {
    padding-top: 0;
    padding-bottom: 0;
    height: .906667rem;
    line-height: .906667rem;
    vertical-align: middle;
}

/*左右带横线的文字*/
.caption {
    text-align: center;
    overflow: hidden;
}

.caption .title {
    display: inline-block;
    position: relative;
    font-size: .32rem;
}

.caption .title:before,
.caption .title:after {
    content: "";
    position: absolute;
    top: 50%;
    width: 100%;
    height: 1px;
    background-color: #dcdcdc;
}

.caption .title:before {
    right: 100%;
    margin-right: .4rem;
}

.caption .title:after {
    left: 100%;
    margin-left: .4rem;
}

/*通用列表*/
.list {
    /* font-size: .453333rem; */
    font-size: .4rem;
    line-height: 1.47058824;
}

.list small {
    line-height: 1.2;
}

/* 顶部底部分割线 */
.list.border-top,
.list.border-bottom,
.list {
    position: relative;
}

.list.border-top:before,
.list.border-bottom:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    color: #dcdcdc;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    z-index: 2;
}

.list.border-top:before {
    top: 0;
    border-top: 1px solid #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
}

.list.border-bottom:after {
    bottom: 0;
    border-bottom: 1px solid #dcdcdc;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
}

/* 列表组间隔 */
.list+.list {
    margin-top: .266667rem;
}

.item {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .333333rem .4rem;
    color: #333;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
}

/* 弹性盒子纵向排列 */
.item.direction-column {
    flex-direction: column;
}

/* 垂直对齐 */
.item.vertical-center {
    -ms-flex-align: center;
    -moz-align-items: center;
    -webkit-align-items: center;
    align-items: center;
}

/* 水平对齐 */
.item.horizontal-center {
    -webkit-justify-content: center;
    justify-content: center;
}

/* 头部图标 */
.item .item-header .icon {
    margin-right: .266667rem;
    font-size: .4rem;
    font-style: normal;
}

.item .item-body {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
    font-size: .4rem;
}

.item .item-footer {
    text-align: right;
    color: #999;
}

/* 激活效果 */
.item.item-access {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    color: inherit;
}

.item.item-access:active {
    background-color: #eee;
}

.item.item-access .item-footer {
    position: relative;
    padding-right: .4rem;
}

.item.item-access .item-footer:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: .053333rem;
    margin-top: -0.133333rem;
    width: .266667rem;
    height: .266667rem;
    border-width: 1px 1px 0 0;
    border-color: #c8c8c8;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.item.item-access.item-access-clear-flag .item-footer:after {
    display: none;
}

/* 链接 */
.item.item-link {
    font-size: .373333rem;
    color: #1edbb5;
}

.item:before,
.list.card .item:after {
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    margin-left: .4rem;
    margin-right: 0;
    width: calc(100vw - .4rem);
    height: 1px;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.list.clear-border .item:before {
    display: none;
}

.item.item-link:first-child:before {
    display: block;
}

.item:first-child:before {
    display: none;
}

.item:last-child:after {
    display: none;
}

.item:before {
    top: 0;
    border-top: 1px solid #dcdcdc;
}

/* 左滑事件 */
.item.item-swiped {
    display: block;
    padding: 0;
}

.item.item-swiped>.item-footer {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    color: #fff;
}

.swiped-btn {
    display: block;
    padding: .266667rem 1em;
    line-height: 1.47058824;
    color: inherit;
}

.swiped-btn-default {
    background-color: #999;
}

.swiped-btn-warning {
    background-color: #ee3f24;
}

/* 徽章 */
.item .badge {
    background-color: #ee3f24;
}

/* 右边按钮 */
.item.item-button-right {
    padding: .186667rem .4rem;
}

.item.item-button-right .btn {
    margin-left: .266667rem;
    padding: .106667rem .266667rem;
}

.item-title,
.item-divider {
    margin-top: .77em;
    margin-bottom: .3em;
    padding-left: .4rem;
    padding-right: .4rem;
    color: #999;
    font-size: .373333rem;
}

/* 右边文字 */
.item-note {
    float: right;
    color: #999;
    font-size: 82.35%;
}

/*卡片列表*/
.list.card .item+.item {
    margin-top: .266667rem;
}

/* 缩略图 */
.item.item-thumb .thumb {
    position: relative;
    width: 100%;
}

/* 缩略图组 */
.item.item-thumb-group .thumb>*+* {
    margin-left: .133333rem;
}

.item.item-thumb:before,
.item.item-thumb-group:before {
    margin-left: 0;
    margin-right: 0;
    width: calc(100vw);
}

.item.item-thumb .thumb .badge,
.item.item-avatar .avatar .badge {
    position: absolute;
    top: -0.4em;
    right: -0.4em;
    z-index: 2;
}

.item.item-thumb .thumb.thumb-right {
    margin: 0 0 0 .4rem !important;
}

.item.item-thumb .thumb.thumb-xs {
    margin: 0 .4rem 0 0;
    width: 30%;
}

.item.item-thumb .thumb.thumb-sm {
    margin: 0 .4rem 0 0;
    width: 35%;
}

.item.item-thumb .thumb.thumb-md {
    margin: 0 .4rem 0 0;
    width: 40%;
}

.item.item-thumb .thumb.thumb-lg {
    margin: 0 .4rem 0 0;
    width: 45%;
}

.item.item-thumb.item-thumb-right .thumb {
    margin: 0 0 0 .4rem;
}

.item.item-thumb-group .thumb img,
.item.item-thumb .thumb img,
.item.item-thumb .thumb video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* 头像 */
.item.item-avatar:before {
    margin-left: 1.84rem;
    width: calc(100vw - 2.24rem);
}

.item.item-avatar .avatar {
    margin: 0 .4rem 0 0;
    width: 1.2rem;
    height: 1.2rem;
}

.item.item-avatar .avatar img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

/* 文本 */
.item .text {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    min-width: 0;
}

.item h4 {
    font-size: .4rem;
    font-weight: 400;
}

.item h5 {
    font-size: .373333rem;
    font-weight: 400;
}

.item .text-lg {
    font-size: .453333rem !important;
}

.item .text-muted {
    color: #999;
}

.item .text .desc {
    font-size: .373333rem;
}

/*开关*/
.item.item-toggle {
    padding: .266667rem .4rem;
}

.item-toggle {
    pointer-events: none;
}

.toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    font-size: 0;
}

.toggle input:checked+.track {
    border-color: #1edbb5;
    background-color: #1edbb5;
}

.toggle input {
    -webkit-appearance: none;
    position: absolute;
    z-index: 2;
    width: 1.066667rem;
    height: .64rem;
    border: none;
    outline: 0;
    border-radius: .373333rem;
}

.toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 1.066667rem;
    height: .64rem;
    border: solid .053333rem #dcdcdc;
    border-radius: .373333rem;
    background-color: #dcdcdc;
    content: " ";
    cursor: pointer;
    pointer-events: none;
}

.toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: .533333rem;
    height: .533333rem;
    border-radius: .346667rem;
    background-color: #fff;
    top: .053333rem;
    left: .053333rem;
    box-shadow: 0 1px .053333rem rgba(0, 0, 0, 0.35), 0 0rem .053333rem rgba(0, 0, 0, 0.15);
}

.toggle input:checked+.track .handle {
    -webkit-transform: translate3d(.4rem, 0, 0);
    transform: translate3d(.4rem, 0, 0);
    background-color: #fff;
}

.item-toggle.active {
    box-shadow: none;
}

.item-toggle .toggle {
    text-align: right;
    color: #888;
}

.toggle input:disabled+.track {
    opacity: .6;
}

/* 选择框 */
.item.item-radio,
.item.item-checkbox {
    padding-left: 1.173333rem;
}

.item-radio .radio,
.item-checkbox .checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.item-radio .radio,
.item-checkbox .checkbox {
    position: absolute;
    left: .4rem;
}

.item-checkbox.item-checkbox-right {
    padding-right: .4rem;
    padding-left: .4rem;
}

.item-checkbox-right .checkbox input {
    position: absolute;
    top: 50%;
    right: .4rem;
    margin-top: -0.24rem;
}

/* 纵向排列视图 */
.list.view-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list.view-horizontal .border-top:before,
.list.view-horizontal:before,
.list.view-horizontal .border-top:after,
.list.view-horizontal:after {
    display: none;
}

.list.view-horizontal .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 48%;
    flex-basis: 48%;
    max-width: 49.4%;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
}

.list.view-horizontal .item.vertical-center {
    -ms-flex-align: normal;
    -webkit-align-items: normal;
    -moz-align-items: normal;
    align-items: normal;
}

.list.view-horizontal .item .thumb {
    margin: 0 0 .266667rem 0;
    width: auto;
}

.list.view-horizontal .item.item-thumb-right .thumb {
    margin: .266667rem 0 0 0;
    width: auto;
}

.list.view-horizontal .item:before {
    display: none;
}

.list.view-horizontal .item:nth-child(2n) {
    margin-bottom: .133333rem;
}

.list.view-horizontal .item:nth-child(2n-1) {
    margin-right: .133333rem;
    margin-bottom: .133333rem;
}

/* 面板 */
.panel {
    background-color: #FFFFFF;
    margin-top: .266667rem;
    position: relative;
    overflow: hidden;
}

.panel:first-child {
    margin-top: 0;
}

.panel:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.panel:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.panel-header {
    position: relative;
    padding: .373333rem .4rem .266667rem;
    color: #808080;
    font-size: .373333rem;
}

.panel-header:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    left: .4rem;
}

/* 表单预览 */
.form-preview {
    position: relative;
    background-color: #ffffff;
}

.form-preview:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaley(0.5);
    transform: scaley(0.5);
}

.form-preview:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaley(0.5);
    transform: scaley(0.5);
}

.form-preview-header {
    position: relative;
    padding: .266667rem .4rem;
    text-align: right;
    line-height: 2.5em;
}

.form-preview-header:after {
    content: " ";
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1px;
    border-bottom: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    -webkit-transform: scaley(0.5);
    transform: scaley(0.5);
    left: .4rem;
}

.form-preview-header .form-preview-value {
    font-style: normal;
    font-size: 1.6em;
}

.form-preview-body {
    padding: .266667rem .4rem;
    font-size: .9em;
    color: #333;
}

.form-preview-footer {
    position: relative;
    line-height: 1.333333rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
}

.form-preview-footer:before {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    height: 1px;
    border-top: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaley(0.5);
    transform: scaley(0.5);
}

.form-preview-item {
    position: relative;
    overflow: hidden;
}

.form-preview-item+.form-preview-item {
    margin-top: .266667rem;
}

.form-preview-label {
    float: left;
    margin-right: 1em;
    min-width: 4em;
    color: #999;
    text-align: justify;
    text-align-last: justify;
    text-justify: inter-ideograph;
}

.form-preview-value {
    display: block;
    overflow: hidden;
    word-break: normal;
    word-wrap: break-word;
}

.form-preview-btn {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    color: #333;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button.form-preview-btn {
    background-color: transparent;
    border: 0;
    outline: 0;
    line-height: inherit;
    font-size: inherit;
}

.form-preview-btn:active {
    background-color: #eee;
}

.form-preview-btn:after {
    content: " ";
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    bottom: 0;
    border-left: 1px solid #dcdcdc;
    color: #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scalex(0.5);
    transform: scalex(0.5);
}

.form-preview-btn:first-child:after {
    display: none;
}

.form-preview-btn-default {
    color: #999;
}

.form-preview-btn-primary {
    color: #1edbb5;
}

/*顶部悬浮*/
header#header {
    padding-top: 1.173333rem;
}
/*底部悬浮*/
footer#footer {
    padding-top: 1.44rem;
}
.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 1.44rem;
    color: #999;
    background-color: #fff;
}

.footer.horizontal-center {
    -webkit-justify-content: center;
    justify-content: center;
}

ul.footer {
    margin: 0;
    padding: 0;
    list-style: none;
}

.footer:before {
    content: " ";
    position: absolute;
    left: 0;
    z-index: 1000;
    width: 100%;
    height: 1px;
    color: #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.footer:before {
    top: 0;
    border-top: 1px solid #dcdcdc;
}

.footer .btn.btn-curve {
    border-radius: .453333rem !important;
    -webkit-border-radius: .453333rem !important;
}

/* .footer :not([class^="text-"]):not(.btn):not(.badge),
.footer a.btn-clear,
.footer a.btn-links {
    color: #999;
} */
.footer.tabs li,
.footer>.item-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.footer .item-fill {
    padding: 0 .4rem;
    height: 1.44rem;
    line-height: 1.44rem;
    border: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.footer.tabs.tabs-horizontal li .btn {
    /* padding: .4rem; */
    height: 1.44rem;
    line-height: 1.44rem;
}

.footer.tabs.tabs-horizontal li .btn i {
    color: #b9b9b9;
    font-size: .533333rem;
}

.footer.tabs.tabs-vertical li .btn {
    position: relative;
    font-size: .32rem;
    line-height: 1;
}
.footer .icon {
    font-size: .48rem;
}
/* 底部导航条图标 */
.footer.tabs.tabs-vertical li .btn .icon {
    display: inline-block;
    padding: .133333rem;
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: .48rem;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: .005333rem;
    -moz-osx-font-smoothing: grayscale;
}

.footer.tabs.tabs-vertical li:nth-child(1) .btn .icon:before {
    content: "\e7cf";
}

.footer.tabs.tabs-vertical li:nth-child(2) .btn .icon:before {
    content: "\e7e1";
}

.footer.tabs.tabs-vertical li:nth-child(3) .btn .icon:before {
    content: "\e7c7";
}

.footer.tabs.tabs-vertical li:nth-child(4) .btn .icon:before {
    content: "\e7a9";
}

.footer.tabs.tabs-vertical li:nth-child(5) .btn .icon:before {
    content: "\e7e8";
}

.footer.tabs.tabs-vertical li:nth-child(1) .btn.active .icon:before {
    content: "\e7ce";
}

.footer.tabs.tabs-vertical li:nth-child(2) .btn.active .icon:before {
    content: "\e7e6";
}

.footer.tabs.tabs-vertical li:nth-child(3) .btn.active .icon:before {
    content: "\e7c8";
}

.footer.tabs.tabs-vertical li:nth-child(4) .btn.active .icon:before {
    content: "\e7ea";
}

.footer.tabs.tabs-vertical li:nth-child(5) .btn.active .icon:before {
    content: "\e7e5";
}

.footer.tabs li .btn:active .icon,
.footer.tabs li .btn:active .tip,
.footer.tabs li .btn.active .icon,
.footer.tabs li .btn.active .tip,
.footer.tabs li .btn.active span,
.footer.tabs li .btn.activated .icon,
.footer.tabs li .btn.activated .tip {
    color: #1edbb5;
}

.footer .icon .badge {
    position: absolute;
    top: .066667rem;
    right: .066667rem;
    font-size: .24rem;
    color: #fff !important;
}

.footer .praise-count {
    padding-left: .133333rem;
    font-size: .373333rem;
}

.footer .tip {
    display: block;
    text-align: center;
}

.footer .single-btn {
    width: 60%;
}

/*底部弹出列表*/
.actionsheet {
    position: fixed;
    left: 0;
    bottom: 0;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 1050;
    width: 100%;
    font-size: .4rem;
    background-color: #f5f5f5;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
}

.actionsheet-toggle {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.actionsheet .close {
    position: absolute;
    top: .266667rem;
    right: .266667rem;
    z-index: 1051;
    color: #bbb;
}

.actionsheet .actionsheet-title {
    position: relative;
    padding: .4rem 0 .266667rem;
    width: 100%;
    min-height: 1.173333rem;
    font-size: inherit;
}

.actionsheet .actionsheet-title p {
    font-size: .373333rem;
    color: #999;
}

.actionsheet ul.actionsheet-menu {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.actionsheet ul.actionsheet-menu.row-wrap {
    /*换行，需要列宽*/
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.actionsheet ul.actionsheet-menu.direction-column {
    /*列*/
    flex-direction: column;
}

.actionsheet ul.actionsheet-menu.horizontal-center {
    /*水平居中*/
    -webkit-justify-content: center;
    justify-content: center;
}
.actionsheet ul.actionsheet-menu.vertical-center {
    /*垂直居中*/
    -webkit-align-items: center;
    align-items: center;
}

.actionsheet ul.actionsheet-menu>li {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin-bottom: .4rem;
    min-width: 0;
    color: #333;
    text-align: center;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.actionsheet ul.actionsheet-menu.row-wrap>li {
    -webkit-box-flex: none;
    -webkit-flex: none;
    flex: none;
    width: 25%;
}

.actionsheet ul.actionsheet-menu>li>dl,
.actionsheet ul.actionsheet-menu>li>dl>dt,
.actionsheet ul.actionsheet-menu>li>dl>dd {
    margin: 0;
}

.actionsheet ul.actionsheet-menu>li>dl {
    padding: .133333rem;
}

.actionsheet ul.actionsheet-menu>li>dl>dt {
    width: 1.066667rem;
    height: 1.066667rem;
    line-height: 1.066667rem;
    font-size: .64rem;
    color: #fff;
    border-radius: 50%;
}

.actionsheet ul.actionsheet-menu>li:nth-child(1)>dl>dt {
    background-color: #fda05c;
}

.actionsheet ul.actionsheet-menu>li:nth-child(2)>dl>dt {
    background-color: #80cc3f;
}

.actionsheet ul.actionsheet-menu>li:nth-child(3)>dl>dt {
    background-color: #fa5e78;
}

.actionsheet ul.actionsheet-menu>li:nth-child(4)>dl>dt {
    background-color: #4da1fc;
}

.actionsheet ul.actionsheet-menu>li:nth-child(5)>dl>dt {
    background-color: #999;
}

.actionsheet ul.actionsheet-menu>li>dl>dd {
    padding: .266667rem 0 0;
    font-size: .266667rem;
    color: #999;
}

.actionsheet ul.actionsheet-menu.direction-column>li {
    position: relative;
    margin-bottom: 0;
    height: 1.173333rem;
    line-height: 1.173333rem;
    color: #333;
    text-align: center;
    background-color: #fff;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.actionsheet ul.actionsheet-menu.direction-column>li:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 1px;
    color: #dcdcdc;
    border-top: 1px solid #dcdcdc;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
}

.actionsheet ul.actionsheet-menu.direction-column>li:first-child:before {
    display: none;
}

.actionsheet ul.actionsheet-menu>li:active {
    background-color: #eee;
}

.actionsheet ul.actionsheet-menu>li a {
    display: block;
    color: #333;
    text-decoration: none;
}

.actionsheet ul.actionsheet-menu>li:active a {
    color: #1edbb5;
}

.actionsheet .actionsheet-cancel {
    margin-top: .266667rem;
    width: 100%;
    height: 1.173333rem;
    line-height: 1.173333rem;
    font-size: inherit;
    text-align: center;
    background-color: #fff;
}

/*幻灯*/
.swiper-pagination-bullet-active {
    background: #1edbb5 !important;
}

/*按钮组（宽度自动）*/
.input-group.input-group-custom .input-group-addon,
.input-group.input-group-custom .input-group-btn {
    width: auto;
}

/*留言*/
.msg-box {
    width: 100%;
    background-color: #fff;
}

.msg-box .msg-content {
    position: relative;
}

.msg-box .msg-content .tips {
    position: absolute;
    right: .133333rem;
    bottom: .266667rem;
    font-size: .32rem;
    color: #999;
}

.msg-box .msg-content textarea {
    padding: .133333rem;
    width: 100%;
    height: 2.666667rem;
    font-size: .373333rem;
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
}

.msg-box .msg-footer {
    padding: .266667rem 0 0;
}

/*模态框*/
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}

.modal .close {
    float: right;
    font-size: .56rem;
    font-weight: bold;
    line-height: 1;
    color: #333;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.modal .close:hover,
.modal .close:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
    filter: alpha(opacity=50);
    opacity: .5;
}

.modal button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}

.modal-open {
    overflow: hidden;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
}

.modal-dialog {
    position: relative;
    padding: 0 .4rem;
}

.modal-lg .modal-content {
    max-width: 21.333333rem;
}

.modal-sm .modal-content {
    max-width: 8rem;
}

.modal-content {
    position: relative;
    margin: .8rem auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, .2);
    /*border-radius: .16rem;*/
    outline: 0;
    -webkit-box-shadow: 0 .08rem .24rem rgba(0, 0, 0, .5);
    box-shadow: 0 .08rem .24rem rgba(0, 0, 0, .5);
}

.modal-content h1,
.modal-content p {
    margin-bottom: .266667rem;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: rgba(0, 0, 0, .6);
}

.modal-header {
    min-height: .438095rem;
    padding: .266667rem .4rem;
    border-bottom: 1px solid #dcdcdc;
}

.modal-header .close {
    margin-top: -0.053333rem;
}

.modal-title {
    margin: 0;
    line-height: 1.47058824;
    color: #999;
    font-size: .426667rem;
    font-weight: 300;
}

.modal-body {
    position: relative;
    padding: .266667rem .4rem;
    max-height: 13.333333rem;
    overflow: auto;
}

.modal-footer {
    padding: .266667rem .4rem;
    text-align: right;
    border-top: 1px solid #dcdcdc;
}

.modal-footer .btn+.btn {
    margin-bottom: 0;
    margin-left: .133333rem;
}

.modal-footer .btn-group .btn+.btn {
    margin-left: -1px;
}

.modal-footer .btn-block+.btn-block {
    margin-left: 0;
}

.modal-footer.modal-footer-custom {
    margin: 0;
    padding: 0;
    font-size: 0;
}

.modal-footer.modal-footer-custom li {
    display: inline-block;
    width: 50%;
    height: auto;
    border-left: 1px solid #dcdcdc;
}

.modal-footer.modal-footer-custom li:first-child {
    border-left: 1px solid transparent;
}

.modal-footer.modal-footer-custom .btn {
    margin: .266667rem 0;
    border: transparent;
    background: none;
}

.modal-scrollbar-measure {
    position: absolute;
    top: -266.64rem;
    width: 1.333333rem;
    height: 1.333333rem;
    overflow: scroll;
}

/*详情*/
.detail-picture {
    position: relative;
    box-shadow: 0 .133333rem .133333rem rgba(0, 0, 0, .05);
}

.detail-picture .center-block {
    display: block;
    margin: 0 auto;
}

.detail-box {
    font-size: .373333rem;
    line-height: 1.47058824;
    background-color: #fff;
}

.detail-box h1 {
    margin-top: .266667rem;
    font-size: .453333rem;
    font-weight: 500;
}

.detail-box .tip {
    margin-top: .266667rem;
    font-size: .32rem;
    color: #999;
}

.detail-box .content {
    line-height: 1.47058824;
    /*  color: #999;*/
}

.detail-box .content img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
    border: 0;
}

.detail-box p {
    font-size: .373333rem;
}

.detail-box p+p {
    margin-top: .133333rem;
}

.detail-box .margin-top {
    margin-top: .133333rem;
}

.detail-box .margin-bottom {
    margin-bottom: .133333rem;
}

/*404*/
.wrap.msg {
    padding-top: 10%;
    height: 100%;
    text-align: center;
}

.wrap .ads-bottom {
    display: block;
    padding: .266667rem .4rem;
    width: 100%;
}

.msg-content {
    background-color: #fff;
}

.msg-content .pic {
    padding-bottom: .4rem;
}

.wrap .ads-bottom img,
.msg-content .pic img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.msg-content .topic {
    margin: 0 auto;
    padding: 10% 0;
}

.msg-content .topic .title,
.msg-content .topic .des {
    display: inline-block;
    font-weight: 600;
}

.msg-content .topic .title {
    line-height: 1.2rem;
    font-size: 1.066667rem;
}

.msg-content .topic .des {
    line-height: .533333rem;
    font-size: .4rem;
    color: #666;
}

/*折叠*/
.collapse {
    display: none;
}

.collapse.in {
    display: block;
}

.tablist .item.item-access .caret:before,
.tablist .item.item-access.collapsed .caret:before {
    content: " ";
    display: inline-block;
    height: .213333rem;
    width: .213333rem;
    border-width: 0 0 1px 1px;
    border-color: #c8c8cd;
    border-style: solid;
    margin-left: .3em;
}

.tablist .item.item-access.collapsed .caret:before {
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.tablist .item.item-access .caret:before {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

/* 文章 */
.article-header h1 {
    font-size: .64rem;
}

.article-header .article-info {
    font-size: .32rem;
}

.article-content {
    font-size: .426667rem;
}

.article-content p {
    margin-top: .133333rem;
    margin-bottom: .266667rem;
}

.article-content img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* 登录和注册 */
.login-wrap,
.register-wrap {
    background-color: #1edbb5 !important;
    background: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.login-copyright,
.register-copyright {
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: .32rem;
    color: #fff;
    text-align: center;
}

.login-logo,
.register-logo {
    font-size: .453333rem;
    text-align: center;
    font-weight: 300;
    color: #fff;
}

.login-logo img,
.register-logo img {
    width: 1.6rem;
    height: 1.6rem;
}

.login-box,
.register-box {
    margin: 0 auto;
    padding: 10% 0;
    font-size: .4rem;
}

@media (max-width: 20.48rem) {

    .login-box,
    .register-box {
        width: 90%;
        margin-top: 0;
        padding-top: .533333rem;
    }
}

.login-box-body,
.register-box-body {
    padding: .533333rem 1.066667rem;
    border-top: 0;
    color: #fff;
}

.login-box-body .form-group,
.register-box-body .form-group {
    position: relative;
    margin-bottom: .666667rem;
}

.login-box-body .form-group .form-control,
.register-box-body .form-group .form-control {
    font-size: inherit;
    height: 1.333333rem;
    color: #333;
    border: 0;
    border-radius: .666667rem;
    -webkit-box-shadow: inset 0 0.08rem .266667rem rgba(0, 0, 0, .08);
    box-shadow: inset 0 0.08rem .266667rem rgba(0, 0, 0, .08);
}

.login-box-body .has-feedback .form-control,
.login-box-body .has-feedback .form-control {
    padding-left: 1.333333rem;
    padding-right: .8rem;
}

.toggle .track {
    border: solid .053333rem #21bc9d;
    background-color: #21bc9d;
    -webkit-box-shadow: inset .066667rem .066667rem .133333rem rgba(0, 0, 0, .08);
    box-shadow: inset .066667rem .066667rem .133333rem rgba(0, 0, 0, .08);
}

.toggle .handle {
    background-color: #1edbb5;
}

.toggle input:checked+.track {
    border-color: #21bc9d;
    background-color: #21bc9d;
}

.toggle input:checked+.track .handle {
    background-color: #fff;
}

.login-box-body .form-control-feedback,
.register-box-body .form-control-feedback {
    left: 0;
    width: 1.333333rem;
    height: 1.333333rem;
    line-height: 1.333333rem;
    color: rgba(0, 0, 0, .3);
}

.login-box-body .form-group-footer [type="submit"],
.register-box-body .form-group-footer [type="submit"] {
    width: 100%;
    height: 1.333333rem;
    font-size: .453333rem;
    color: #fff;
    border-width: .053333rem;
    border-color: #fff;
    letter-spacing: .133333rem;
    background-color: transparent;
    border-radius: .666667rem;
    -webkit-box-shadow: 0 0 .133333rem rgba(0, 0, 0, .125);
    box-shadow: 0 0 .133333rem rgba(0, 0, 0, .125);
}

.login-box-body .form-group-footer [type="submit"]:active,
.register-box-body .form-group-footer [type="submit"]:active,
.login-box-body .form-group-footer [type="submit"].active,
.register-box-body .form-group-footer [type="submit"].active,
.login-box-body .form-group-footer [type="submit"].activated,
.register-box-body .form-group-footer [type="submit"].activated {
    -webkit-box-shadow: inset 0 0.08rem 0.133333rem rgba(0, 0, 0, .125);
    box-shadow: inset 0 0.08rem 0.133333rem rgba(0, 0, 0, .125);
}

/* 导航 */
.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    width: 100%;
    height: 1.173333rem;
}
.navbar.affix {
    position: fixed;
}

.navbar.navbar-light {
    background-color: #fff;
}

.navbar.navbar-dark {
    color: #fff;
    background-color: #333;
}

.navbar>ul,
.navbar>ul>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

.navbar>ul>li>a {
    position: relative;
    display: block;
    padding: 0 .266667rem;
    min-width: 1.306667rem;
    height: 1.173333rem;
    line-height: 1.173333rem;
    text-align: center;
    font-size: .453333rem;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.navbar>ul>li>a .badge {
    position: absolute;
    top: .2rem;
    right: .133333rem;
    font-size: .24rem;
    color: #fff !important;
}

.navbar .navbar-left,
.navbar .navbar-right {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.navbar .navbar-title {
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 2;
    margin-left: -3.5em;
    width: 7em;
    height: 1.173333rem;
    line-height: 1.173333rem;
    font-size: .453333rem;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* 用户中心 */
.user-header {
    min-height: 5.333333rem;
    background-color: #444;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.user-header .navbar-light {
    background-color: rgba(255, 255, 255, .175);
}

.user-header .navbar-dark {
    background-color: rgba(0, 0, 0, .175);
}

.user-face {
    margin: .266667rem auto;
    width: 1.6rem;
    height: 1.6rem;
}

.user-face a {
    display: block;
}

.user-face img {
    display: block;
    width: 1.6rem;
    height: 1.6rem;
    border: .066667rem solid rgba(255, 255, 255, .5);
    border-radius: .8rem;
}

.user-name {
    margin-bottom: .266667rem;
    padding: 0 .4rem;
    font-size: .453333rem;
    text-align: center;
    color: inherit;
}

.user-autograph {
    margin-bottom: .266667rem;
    padding: 0 .4rem;
    font-size: .32rem;
    text-align: center;
    color: inherit;
}

ul.user-info,
ul.user-info>li {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.user-info {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    justify-content: space-between;
    -webkit-align-items: center;
    align-items: center;
    padding: .4rem 0;
}

ul.user-info>li {
    position: relative;
    display: block;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

ul.user-info>li:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .3);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

ul.user-info>li:first-child:before {
    display: none;
}

ul.user-info>li>dl,
ul.user-info>li>dl>dt,
ul.user-info>li>dl>dd {
    margin: 0;
    padding: 0 .133333rem;
    line-height: 1;
    text-align: center;
}

ul.user-info>li>dl>dt {
    font-size: .453333rem;
}

ul.user-info>li>dl>dd {
    margin-top: .2rem;
    font-size: .32rem;
}

/* 用户中心图文组 */
ul.user-capability {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

ul.user-capability>li {
    position: relative;
    display: block;
    width: 25%;
}

ul.user-capability>li>a {
    display: block;
    padding: .266667rem .133333rem;
    background-color: #fff;
}

ul.user-capability>li>a:active {
    background-color: #eee;
}

ul.user-capability.space-left>li:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1px;
    border-left: 1px solid rgba(255, 255, 255, .5);
    color: rgba(255, 255, 255, .3);
    -webkit-transform-origin: 100% 0;
    transform-origin: 100% 0;
    -webkit-transform: scaleX(0.5);
    transform: scaleX(0.5);
}

ul.user-capability.space-left>li:first-child:before {
    display: none;
}

ul.user-capability>li dl,
ul.user-capability>li dl>dt,
ul.user-capability>li dl>dd {
    margin: 0;
    padding: 0 .133333rem;
    line-height: 1;
    text-align: center;
}

ul.user-capability>li dl>dt {
    font-size: .6rem;
}

ul.user-capability>li dl>dt img {
    display: block;
    margin: 0 auto;
    width: 1.066667rem;
    height: 1.066667rem;
}

ul.user-capability>li dl>dd {
    margin-top: .266667rem;
    font-size: .32rem;
}

ul.user-capability>li dl>dd:nth-child(3) {
    margin-top: .066667rem;
    color: #999;
}

/* 关于 */
.about-wrap .about-logo img {
    width: 1.6rem;
}

.about-wrap .about-qrcode img {
    display: block;
    margin: 0 auto;
    width: 4rem;
    height: auto;
}

.user-qrcode-wrap .user-qrcode img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* 用户名片 */
.user-qrcode-wrap {
    background-color: #fff;
}
.user-qrcode-wrap .user-qrcode {
    position: relative;
    width: 5.333333rem;
    height: 5.333333rem;
}
.user-qrcode-wrap .user-qrcode .icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    margin: -0.426667rem 0 0 -0.426667rem;
    width: .853333rem;
    height: .853333rem;
    border: .133333rem solid #fff;
}
.user-qrcode-wrap .user-qrcode img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/*聊天列表*/
.chatslist {
    position: relative;
    font-size: .4rem;
    line-height: 1.47058824;
}

/* 列表组间隔 */
.chatslist+.chatslist {
    margin-top: .266667rem;
}

.chatsitem {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .333333rem .4rem;
    color: #333;
    text-decoration: none;
    overflow: hidden;
}

.chatsitem {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    padding: .333333rem .4rem;
    color: #333;
    text-decoration: none;
    overflow: hidden;
}

.chatsitem-time {
    margin-top: .4rem;
    text-align: center;
}

.chatsitem-time small {
    display: inline-block;
    padding: .106667rem .2rem;
    color: #999;
    font-size: .32rem;
    background-color: #e6e6e6;
    border-radius: .08rem;
}

.chatsitem .chatsitem-body {
    display: inline-block;
    position: relative;
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    padding: .266667rem;
    min-width: 0;
    font-size: .4rem;
    border-radius: .133333rem;
}

.chatsitem .chatsitem-body:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    pointer-events: none;
    border-radius: .133333rem;
}

.chatsitem .chatsitem-body:after {
    content: " ";
    position: absolute;
    top: .266667rem;
    border: .133333rem solid transparent;
}

.chatsitem.fromchats .chatsitem-body:after {
    right: 100%;
}

.chatsitem.tochats .chatsitem-body:after {
    left: 100%;
}

.chatsitem.fromchats .chatsitem-body {
    background-color: rgba(255, 255, 255, .7);
}

.chatsitem.fromchats .chatsitem-body:before {
    border: 1px solid rgba(255, 255, 255, 1);
    border-color: rgba(255, 255, 255, 1);
}

.chatsitem.fromchats .chatsitem-body:after {
    border-right-color: rgba(255, 255, 255, 1);
}

.chatsitem.tochats .chatsitem-body {
    background-color: rgba(27, 194, 160, .7);
}

.chatsitem.tochats .chatsitem-body:before {
    border: 1px solid rgba(27, 194, 160, 1);
    border-color: rgba(27, 194, 160, 1);
}

.chatsitem.tochats .chatsitem-body:after {
    border-left-color: rgba(27, 194, 160, 1);
}

/* 激活效果 */
.chatsitem.chatsitem-access .chatsitem-body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.chatsitem.fromchats.chatsitem-access:active .chatsitem-body {
    background-color: rgb(228, 228, 228);
}

.chatsitem.fromchats.chatsitem-access:active .chatsitem-body:after {
    border-right-color: rgb(228, 228, 228);
}

.chatsitem.tochats.chatsitem-access:active .chatsitem-body {
    background-color: rgba(27, 194, 160, 1);
}

.chatsitem.tochats.chatsitem-access:active .chatsitem-body:after {
    border-left-color: rgba(27, 194, 160, 1);
}

.chatsitem .chatsitem-footer {
    text-align: right;
    color: #999;
}

.chatsitem.chatsitem-access .chatsitem-footer {
    position: relative;
    padding-right: .4rem;
}

.chatsitem.chatsitem-access .chatsitem-footer:after {
    content: " ";
    display: inline-block;
    position: absolute;
    top: 50%;
    right: .053333rem;
    margin-top: -0.133333rem;
    width: .266667rem;
    height: .266667rem;
    border-width: 1px 1px 0 0;
    border-color: #c8c8c8;
    border-style: solid;
    -webkit-transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
    transform: matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
}

.chatsitem:before {
    top: 0;
    border-top: 1px solid #dcdcdc;
}

/* 头像 */
.chatsitem:before {
    margin-left: 1.84rem;
    width: calc(100vw - 1.333333rem);
}

.chatsitem .avatar {
    width: .933333rem;
    height: .933333rem;
}

.chatsitem.fromchats .avatar {
    margin-right: .4rem;
}

.chatsitem.tochats .avatar {
    margin-left: .4rem;
}

.chatsitem .avatar img {
    margin: 0 auto;
    display: block;
    max-width: 100%;
    height: auto;
    text-align: center;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}