// 1.左右带横线的文字
.caption {
    text-align: center;
    overflow: hidden;
    .title {
        display: inline-block;
        position: relative;
        font-size: inherit;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: @gray-lighter;
        }
        &:before {
            right: 100%;
            margin-right: 0.4rem;
        }
        &:after {
            left: 100%;
            margin-left: 0.4rem;
        }
    }
}

// 2.搜索
.search-wrap {
    padding: 0.266667rem 0.4rem;
    width: 100%;
    background-color: #fff;
}
.search-box {
    .search-box(0.906667rem);
}
.search-box(@height) {
    height: @height;
    line-height: @height;
    border-radius: @height / 2;
    background-color: @gray-lighter;
    .form-control,
    .btn {
        padding-top: 0;
        padding-bottom: 0;
        height: @height;
        line-height: @height;
        vertical-align: middle;
    }
}

// 3.通用列表
// 基本设置
.list {
    // 列表组间隔
    & + .list {
        margin-top: 0.266667rem;
    }
    position: relative;
    // 顶部底部细线
    &.border-top,
    &.border-bottom {
        position: relative;
        &:before,
        &:after {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            color: @border-color;
            .scaleY(0.5);
            z-index: @zindex-base;
        }
        &:before {
            top: 0;
            border-top: 1px solid @border-color;
            .transform-origin(0 0);
        }

        &:after {
            bottom: 0;
            border-bottom: 1px solid @border-color;
            .transform-origin(0 100%);
        }
    }
    // 卡片样式
    &.card {
        .item {
            &:after {
                content: " ";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                border-bottom: 1px solid @border-color;
                .scaleY(0.5);
                .transform-origin(0 100%);
            }
            &:before,
            &:after {
                margin-left: 0;
                margin-right: 0;
                width: calc(100vw);
            }
        }
        & + .item {
            margin-top: 0.266667rem;
        }
    }
    // 清除border
    &.clear-border {
        .item {
            &:before {
                display: none;
            }
        }
    }
    font-size: @font-size-base;
    line-height: @line-height-base;
    // 小字号
    small {
        line-height: @line-height-computed;
    }
    // 右边文字
    .item-note {
        float: right;
        color: @gray-light;
        font-size: 82.35%;
    }
}

// 纵向排列视图
.list {
    .view-horizontal {
        .display-flex();
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        &:before,
        &:after {
            display: none;
        }
        .border-top {
            &:before,
            &:after {
                display: none;
            }
        }
        .item {
            .box-flex();
            -webkit-flex-basis: 48%;
            flex-basis: 48%;
            max-width: 49.4%;
            background-color: #fff;
            overflow: hidden;
            .flex-direction(column);
            &:before {
                display: none;
            }
            &:nth-child(2n) {
                margin-bottom: 0.133333rem;
            }
            &:nth-child(2n-1) {
                margin-right: 0.133333rem;
                margin-bottom: 0.133333rem;
            }
            &.vertical-center {
                -webkit-align-items: normal;
                align-items: normal;
            }
            .thumb {
                margin: 0 0 0.266667rem 0;
                width: auto;
            }
            &.item-thumb-right {
                .thumb {
                    margin: 0.266667rem 0 0 0;
                    width: auto;
                }
            }
        }
    }
}

// 列表下面的对象
.item {
    position: relative;
    .display-flex();
    padding: @padding-base-horizontal;
    color: @gray-dark;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    &:first-child {
        &:before {
            display: none;
        }
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        margin-left: @padding-base-horizontal;
        margin-right: 0;
        width: calc(100vw - @padding-base-horizontal);
        height: 1px;
        top: 0;
        border-top: 1px solid @border-color;
        .scaleY(0.5);
        .transform-origin(0 0);
    }
    // 垂直排列
    &.direction-column {
        .flex-direction(column);
    }
    // 水平居中
    &.horizontal-center {
        .justify-content(center);
    }
    // 垂直居中
    &.vertical-center {
        .align-items(center);
    }
    // 链接
    &.item-link {
        font-size: @font-size-base;
        color: @link-color;
        &:first-child {
            &:before {
                display: block;
            }
        }
    }
    // 右边按钮
    &.item-button-right {
        padding: 0.186667rem 0.4rem;
        .btn {
            margin-left: 0.266667rem;
            padding: 0.106667rem 0.266667rem;
        }
    }
    // 激活效果
    &.item-access {
        color: inherit;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:active {
            background-color: @gray-lighter;
        }
        .item-footer {
            position: relative;
            padding-right: 0.4rem;
            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0.053333rem;
                margin-top: -0.133333rem;
                width: 0.266667rem;
                height: 0.266667rem;
                border-width: 1px 1px 0 0;
                border-color: @gray-lighter;
                border-style: solid;
                .matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            }
        }
        // 清除右箭头
        &.item-access-clear-flag {
            .item-footer {
                &:after {
                    display: none;
                }
            }
        }
    }
    // 头
    .item-header {
        .icon {
            margin-right: @padding-small-horizontal;
        }
    }
    // 正文
    .item-body {
        .box-flex();
        font-size: @font-size-base;
    }

    // 尾
    .item-footer {
        text-align: right;
        color: @gray-light;
    }
    // 徽章
    .badge {
        background-color: @brand-danger;
    }
    // 文本
    .text {
        .box-flex();
    }
    h4 {
        font-size: 0.4rem;
    }
    h5 {
        font-size: 0.373333rem;
    }
    .text-lg {
        font-size: 0.453333rem !important;
    }
    .text-muted {
        color: #999;
    }
    .desc {
        font-size: 0.373333rem;
        .mtext-ellipsis(2);
    }
}

// 缩略图
.item {
    &.item-thumb {
        &:before {
            margin-left: 0;
            margin-right: 0;
            width: calc(100vw);
        }
        .thumb {
            position: relative;
            margin: 0 0.4rem 0 0;
            &.thumb-xs {
                width: 30%;
            }
            &.thumb-sm {
                width: 35%;
            }
            &.thumb-md {
                width: 40%;
            }
            &.thumb-lg {
                width: 45%;
            }
            &.thumb-right {
                margin: 0 0 0 0.4rem !important;
            }
            .badge {
                position: absolute;
                top: -0.4em;
                right: -0.4em;
                z-index: 2;
            }
            img,
            video {
                .img-responsive();
            }
        }
    }
    // 图片右对齐
    &.item-thumb-right {
        .thumb {
            margin: 0 0 0 0.4rem;
            img {
                .img-responsive();
            }
        }
    }
}

// 缩略图组
.item {
    &.item-thumb-group {
        .thumb {
            .display-flex();
            margin-right: 0;
            > * {
                .box-flex(1);
                & + * {
                    margin-left: 0.133333rem;
                }
            }
            img,
            video {
                .img-responsive();
            }
        }
    }
}

// 头像
.item {
    &.item-avatar {
        &:before {
            margin-left: 1.84rem;
            width: calc(100vw - 2.24rem);
        }
        .avatar {
            margin: 0 0.4rem 0 0;
            width: 1.2rem;
            height: 1.2rem;
            img {
                .img-responsive();
                border-radius: 50%;
            }
            .badge {
                position: absolute;
                top: -0.4em;
                right: -0.4em;
                z-index: 2;
            }
        }
    }
}

// item开关
.item {
    &.item-toggle {
        padding: 0.266667rem 0.4rem;
        pointer-events: none;
        &.active {
            box-shadow: none;
        }
        .toggle {
            text-align: right;
            color: #888;
        }
    }
}

// 开关
.toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    font-size: 0;
    .active {
        box-shadow: none;
    }
    .track {
        display: inline-block;
        content: " ";
        cursor: pointer;
        pointer-events: none;
        width: 1.066667rem;
        height: 0.64rem;
        border: solid 0.053333rem @gray-lighter;
        border-radius: 0.373333rem;
        background-color: @gray-lighter;
        .transition-timing-function(ease-in-out);
        .transition-duration(0.3s);
        .transition-property(background-color);
        .box-sizing(border-box);
        .handle {
            position: absolute;
            display: block;
            width: 0.533333rem;
            height: 0.533333rem;
            border-radius: 0.346667rem;
            background-color: #fff;
            top: 0.053333rem;
            left: 0.053333rem;
            .box-shadow(0 1px 0.053333rem rgba(0, 0, 0, 0.35));
            .transition(0.3s cubic-bezier(0, 1.1, 1, 1.1));
        }
    }
    input {
        -webkit-appearance: none;
        position: absolute;
        z-index: 2;
        width: 1.066667rem;
        height: 0.64rem;
        border: none;
        outline: 0;
        border-radius: 0.373333rem;
        &:checked {
            & + .track {
                border-color: #1edbb5;
                background-color: #1edbb5;
                .handle {
                    .translate3d(0.4rem, 0, 0);
                    background-color: #fff;
                }
            }
        }
        &:disabled {
            & + .track {
                opacity: 0.6;
            }
        }
    }
}

// 选择框
.item {
    &.item-radio {
        padding-left: 1.173333rem;
        .radio {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0.4rem;
            .display-flex();
            .align-items(center);
        }
    }
    &.item-checkbox {
        padding-left: 1.173333rem;
        .checkbox {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0.4rem;
            .display-flex();
            .align-items(center);
        }
        &.item-checkbox-right {
            padding-right: 0.4rem;
            padding-left: 0.4rem;
            .checkbox {
                input {
                    position: absolute;
                    top: 50%;
                    right: 0.4rem;
                    margin-top: -0.24rem;
                }
            }
        }
    }
}
// 标题和间隔
.item-title,
.item-divider {
    margin-top: 0.77em;
    margin-bottom: 0.3em;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    color: @gray-light;
    font-size: 0.373333rem;
}

// 面板
.panel {
    position: relative;
    margin-top: 0.266667rem;
    background-color: #fff;
    overflow: hidden;
    &:first-child {
        margin-top: 0;
    }
    &:before,
    &:after {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        height: 1px;
        color: @gray-lighter;
        border-top: 1px solid @gray-lighter;
        .scaleY(0.5);
    }
    &:before {
        top: 0;
        .transform-origin(0 0);
    }
    &:after {
        bottom: 0;
        .transform-origin(0 100%);
    }
    .panel-header {
        position: relative;
        padding: 0.373333rem 0.4rem 0.266667rem;
        color: @gray-light;
        font-size: 0.373333rem;
        &:after {
            content: " ";
            position: absolute;
            left: 0.4rem;
            bottom: 0;
            right: 0;
            height: 1px;
            color: @gray-lighter;
            border-bottom: 1px solid @gray-lighter;
            .transform-origin(0 100%);
            .scaleY(0.5);
        }
    }
}

// 表单预览
.form-preview {
    position: relative;
    background-color: #fff;
    &:before {
        .border-top(@gray-lighter);
    }
    &:after {
        .border-bottom(@gray-lighter);
    }
    .form-preview-header {
        position: relative;
        padding: 0.266667rem 0.4rem;
        text-align: right;
        line-height: 2.5em;
        &:after {
            .border-bottom(@gray-lighter);
            left: 0.4rem;
        }
        .form-preview-value {
            font-style: normal;
            font-size: 1.6em;
        }
    }
    .form-preview-body {
        padding: 0.266667rem 0.4rem;
        font-size: 0.9em;
        color: @gray-dark;
    }
    .form-preview-footer {
        position: relative;
        line-height: 1.333333rem;
        .display-flex();
        &:before {
            .border-top(@gray-lighter);
        }
    }
    .form-preview-item {
        position: relative;
        overflow: hidden;
        & + .form-preview-item {
            margin-top: 0.266667rem;
        }
        .form-preview-label {
            float: left;
            margin-right: 1em;
            min-width: 4em;
            color: @gray-light;
            text-align: justify;
            text-align-last: justify;
            text-justify: inter-ideograph;
        }
        .form-preview-value {
            display: block;
            overflow: hidden;
            word-break: normal;
            word-wrap: break-word;
        }
        .form-preview-btn {
            position: relative;
            display: block;
            .box-flex();
            color: @gray-dark;
            text-align: center;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            &:active {
                background-color: @gray-lighter;
            }
            &:after {
                .border-bottom(@gray-lighter);
            }
            &:first-child {
                &:after {
                    display: none;
                }
            }
        }
        .form-preview-btn-default {
            color: @gray-light;
        }
        .form-preview-btn-primary {
            color: @brand-primary;
        }
    }
}

// 顶部悬浮
header {
    #header {
        padding-top: 1.173333rem;
    }
}

// 底部悬浮
footer {
    #footer {
        padding-top: 1.44rem;
    }
}

.footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    height: 1.44rem;
    color: #999;
    background-color: #fff;
    &.horizontal-center {
        .justify-content(center);
    }
    &.footer {
        .list-unstyled();
        &:before {
            .border-top(@gray-lighter);
        }
    }
    .btn {
        &.btn-curve {
            border-radius: 0.453333rem !important;
        }
    }
}






.footer.tabs li,
.footer > .item-flex {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    min-width: 0;
}

.footer .item-fill {
    padding: 0 0.4rem;
    height: 1.44rem;
    line-height: 1.44rem;
    border: none !important;
    border-radius: 0 !important;
    -webkit-border-radius: 0 !important;
}

.footer.tabs.tabs-horizontal li .btn {
    /* padding: .4rem; */
    height: 1.44rem;
    line-height: 1.44rem;
}

.footer.tabs.tabs-horizontal li .btn i {
    color: #b9b9b9;
    font-size: 0.533333rem;
}

.footer.tabs.tabs-vertical li .btn {
    position: relative;
    font-size: 0.32rem;
    line-height: 1;
}
.footer .icon {
    font-size: 0.48rem;
}
/* 底部导航条图标 */
.footer.tabs.tabs-vertical li .btn .icon {
    display: inline-block;
    padding: 0.133333rem;
    font-family: "iconfont" !important;
    font-style: normal;
    font-size: 0.48rem;
    line-height: inherit;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.005333rem;
    -moz-osx-font-smoothing: grayscale;
}

.footer.tabs.tabs-vertical li:nth-child(1) .btn .icon:before {
    content: "\e7cf";
}

.footer.tabs.tabs-vertical li:nth-child(2) .btn .icon:before {
    content: "\e7e1";
}

.footer.tabs.tabs-vertical li:nth-child(3) .btn .icon:before {
    content: "\e7c7";
}

.footer.tabs.tabs-vertical li:nth-child(4) .btn .icon:before {
    content: "\e7a9";
}

.footer.tabs.tabs-vertical li:nth-child(5) .btn .icon:before {
    content: "\e7e8";
}

.footer.tabs.tabs-vertical li:nth-child(1) .btn.active .icon:before {
    content: "\e7ce";
}

.footer.tabs.tabs-vertical li:nth-child(2) .btn.active .icon:before {
    content: "\e7e6";
}

.footer.tabs.tabs-vertical li:nth-child(3) .btn.active .icon:before {
    content: "\e7c8";
}

.footer.tabs.tabs-vertical li:nth-child(4) .btn.active .icon:before {
    content: "\e7ea";
}

.footer.tabs.tabs-vertical li:nth-child(5) .btn.active .icon:before {
    content: "\e7e5";
}

.footer.tabs li .btn:active .icon,
.footer.tabs li .btn:active .tip,
.footer.tabs li .btn.active .icon,
.footer.tabs li .btn.active .tip,
.footer.tabs li .btn.active span,
.footer.tabs li .btn.activated .icon,
.footer.tabs li .btn.activated .tip {
    color: #1edbb5;
}

.footer .icon .badge {
    position: absolute;
    top: 0.066667rem;
    right: 0.066667rem;
    font-size: 0.24rem;
    color: #fff !important;
}

.footer .praise-count {
    padding-left: 0.133333rem;
    font-size: 0.373333rem;
}

.footer .tip {
    display: block;
    text-align: center;
}

.footer .single-btn {
    width: 60%;
}
