// 1.左右带横线的文字
.caption {
    text-align: center;
    overflow: hidden;
    .title {
        display: inline-block;
        position: relative;
        font-size: inherit;
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 50%;
            width: 100%;
            height: 1px;
            background-color: lighten(@gray-light, 25%);
        }
        &:before {
            right: 100%;
            margin-right: @padding-base-horizontal;
        }
        &:after {
            left: 100%;
            margin-left: @padding-base-horizontal;
        }
    }
}
// 2.搜索
.search-wrap {
    padding: @padding-base-vertical @padding-base-horizontal;
    width: 100%;
    background-color: #fff;
}
.search-box {
    .search-box(0.906667rem);
}
.search-box(@height) {
    height: @height;
    line-height: @height;
    border-radius: @height / 2;
    background-color: @gray-lighter;
    .form-control,
    .btn {
        padding-top: 0;
        padding-bottom: 0;
        height: @height;
        line-height: @height;
        vertical-align: middle;
    }
}
// 3.通用列表
// 基本设置
.list {
    // 列表组间隔
    & + .list {
        margin-top: @padding-base-vertical;
    }
    position: relative;
    // 顶部底部细线
    &.border-top {
        &:before {
            .border-top(@border-color);
        }
    }
    &.border-bottom {
        &:after {
            .border-bottom(@border-color);
        }
    }
    // 卡片样式
    &.card {
        .item {
            &:after {
                .border-bottom(@border-color);
            }
            &:before,
            &:after {
                margin-left: 0;
                margin-right: 0;
                width: calc(100vw);
            }
        }
        & + .item {
            margin-top: @padding-base-vertical;
        }
    }
    // 清除border
    &.clear-border {
        .item {
            &:before {
                display: none;
            }
        }
    }
    font-size: @font-size-base;
    line-height: @line-height-base;
    // 小字号
    small {
        line-height: @line-height-base;
    }
    // 右边文字
    .item-note {
        float: right;
        color: @gray-light;
    }
}
// 列表下面的对象
.item {
    position: relative;
    .display-flex();
    padding: @padding-base-horizontal;
    color: @gray-dark;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    &:first-child {
        &:before {
            display: none;
        }
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    &:before {
        .border-top(@border-color);
        margin-left: @padding-base-horizontal;
        margin-right: 0;
        width: calc(100vw - @padding-base-horizontal);
    }
    // 垂直排列
    &.direction-column {
        .flex-direction(column);
    }
    // 水平居中
    &.horizontal-center {
        .justify-content();
    }
    // 垂直居中
    &.vertical-center {
        .align-items();
    }
    // 链接
    &.item-link {
        font-size: @font-size-base;
        color: @link-color;
        &:first-child {
            &:before {
                display: block;
            }
        }
    }
    // 右边按钮
    &.item-button-right {
        padding: 0.186667rem @padding-base-horizontal;
        .btn {
            margin-left: @padding-base-vertical;
            padding: 0.106667rem @padding-base-vertical;
        }
    }
    // 激活效果
    &.item-access {
        color: inherit;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:active {
            background-color: @gray-lighter;
        }
        .item-footer {
            position: relative;
            padding-right: @padding-base-horizontal;
            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0.053333rem;
                margin-top: -@padding-small-vertical;
                width: @padding-base-vertical;
                height: @padding-base-vertical;
                border-width: 1px 1px 0 0;
                border-color: @gray-light;
                border-style: solid;
                .matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            }
        }
        // 清除右箭头
        &.item-access-clear-flag {
            .item-footer {
                &:after {
                    display: none;
                }
            }
        }
    }
    // 头
    .item-header {
        .icon {
            margin-right: @padding-small-horizontal;
        }
    }
    // 正文
    .item-body {
        .box-flex();
        font-size: @font-size-base;
    }
    // 尾
    .item-footer {
        text-align: right;
        color: @gray-light;
    }
    // 徽章
    .badge {
        background-color: @brand-danger;
    }
    // 文本
    .text {
        .box-flex();
    }
    h4 {
        font-size: @font-size-large;
    }
    h5 {
        font-size: @font-size-base;
    }
    .text-lg {
        font-size: @font-size-large !important;
    }
    .text-muted {
        color: @gray-light;
    }
    .desc {
        font-size: @font-size-base;
    }
}
// 缩略图
.item {
    &.item-thumb {
        &:before {
            margin-left: 0;
            margin-right: 0;
            width: calc(100vw);
        }
        .thumb {
            position: relative;
            &.thumb-xs {
                margin-right: @padding-base-horizontal;
                width: 30%;
            }
            &.thumb-sm {
                margin-right: @padding-base-horizontal;
                width: 35%;
            }
            &.thumb-md {
                margin-right: @padding-base-horizontal;
                width: 40%;
            }
            &.thumb-lg {
                margin-right: @padding-base-horizontal;
                width: 45%;
            }
            .badge {
                position: absolute;
                top: -0.4em;
                right: -0.4em;
                z-index: @zindex-base;
            }
            img,
            video {
                margin: 0 auto;
                .img-responsive();
            }
        }
    }
    // 图片右对齐
    &.item-thumb-right {
        .thumb {
            margin: 0 0 0 @padding-base-horizontal !important;
        }
    }
}
// 缩略图组
.item {
    &.item-thumb-group {
        .thumb {
            .display-flex();
            margin-right: 0;
            > * {
                .box-flex(1);
                & + * {
                    margin-left: @padding-small-vertical;
                }
            }
            img {
                margin: 0 auto;
                .img-responsive();
            }
        }
    }
}
// 头像
.item {
    &.item-avatar {
        &:before {
            margin-left: 1.84rem;
            width: calc(100vw - 2.24rem);
        }
        .avatar {
            position: relative;
            margin: 0 @padding-base-horizontal 0 0;
            width: 1.2rem;
            height: 1.2rem;
            img {
                margin: 0 auto;
                .img-responsive();
                border-radius: @border-radius-base;
            }
            .badge {
                position: absolute;
                top: -0.4em;
                right: -0.4em;
                z-index: @zindex-base;
            }
        }
    }
}
// item开关
.item {
    &.item-toggle {
        padding: @padding-base-vertical @padding-base-horizontal;
        pointer-events: none;
        &.active {
            box-shadow: none;
        }
        .toggle {
            text-align: right;
            color: @gray-light;
        }
    }
}
// 开关
.toggle {
    position: relative;
    display: inline-block;
    pointer-events: auto;
    font-size: 0;
    .active {
        box-shadow: none;
    }
    .track {
        display: inline-block;
        content: " ";
        cursor: pointer;
        pointer-events: none;
        width: 1.066667rem;
        height: 0.64rem;
        border: 0.053333rem solid @border-color;
        border-radius: 0.373333rem;
        background-color: @gray-lighter;
        .transition-timing-function(ease-in-out);
        .transition-duration(0.3s);
        .transition-property(background-color);
        .box-sizing(border-box);
        .handle {
            position: absolute;
            display: block;
            width: 0.533333rem;
            height: 0.533333rem;
            border-radius: 0.346667rem;
            background-color: #fff;
            top: 0.053333rem;
            left: 0.053333rem;
            .box-shadow(0 1px 0.053333rem rgba(0, 0, 0, 0.35));
            .transition(0.3s cubic-bezier(0, 1.1, 1, 1.1));
        }
    }
    input {
        -webkit-appearance: none;
        position: absolute;
        z-index: @zindex-base;
        width: 1.066667rem;
        height: 0.64rem;
        border: none;
        outline: 0;
        border-radius: 0.373333rem;
        &:checked {
            & + .track {
                border-color: #1edbb5;
                background-color: #1edbb5;
                .handle {
                    .translate3d(@padding-base-horizontal, 0, 0);
                    background-color: #fff;
                }
            }
        }
        &:disabled {
            & + .track {
                .opacity(0.6);
            }
        }
    }
}
// 选择框
.item {
    &.item-radio {
        padding-left: 1.173333rem;
        .radio {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: @padding-base-horizontal;
            .display-flex();
            .align-items();
        }
    }
    &.item-checkbox {
        padding-left: 1.173333rem;
        .checkbox {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: @padding-base-horizontal;
            .display-flex();
            .align-items();
        }
        &.item-checkbox-right {
            padding-right: @padding-base-horizontal;
            padding-left: @padding-base-horizontal;
            .checkbox {
                input {
                    position: absolute;
                    top: 50%;
                    right: @padding-base-horizontal;
                    margin-top: -0.24rem;
                }
            }
        }
    }
}
// 水平排列视图
.list {
    &.view-horizontal {
        .display-flex();
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        &:before,
        &:after {
            display: none;
        }
        .border-top {
            &:before,
            &:after {
                display: none;
            }
        }
        .item {
            .box-flex();
            -webkit-flex-basis: 48%;
            flex-basis: 48%;
            max-width: 49.4%;
            background-color: #fff;
            overflow: hidden;
            .flex-direction(column);
            &:before {
                display: none;
            }
            &:nth-child(2n) {
                margin-bottom: @padding-small-vertical;
            }
            &:nth-child(2n-1) {
                margin-right: @padding-small-vertical;
                margin-bottom: @padding-small-vertical;
            }
            &.vertical-center {
                -webkit-align-items: normal;
                align-items: normal;
            }
            .thumb {
                margin: 0 0 @padding-base-vertical 0;
                width: auto !important;
            }
            &.item-thumb-right {
                .thumb {
                    margin: @padding-base-vertical 0 0 0;
                    width: auto;
                }
            }
        }
    }
}
// 标题和间隔
.item-title,
.item-divider {
    margin-top: 0.77em;
    margin-bottom: 0.3em;
    padding-left: @padding-base-horizontal;
    padding-right: @padding-base-horizontal;
    color: @gray-light;
    font-size: 0.373333rem;
}
// 面板
.panel {
    position: relative;
    margin-top: @padding-base-vertical;
    background-color: #fff;
    overflow: hidden;
    &:first-child {
        margin-top: 0;
    }
    &:before {
        .border-top(@border-color);
    }
    &:after {
        .border-bottom(@border-color);
    }
    .panel-header {
        position: relative;
        padding: 0.373333rem @padding-base-horizontal @padding-base-vertical;
        color: @gray-light;
        font-size: 0.373333rem;
        &:after {
            .border-bottom(@border-color);
        }
    }
}
// 表单预览
.form-preview {
    position: relative;
    background-color: #fff;
    &:before {
        .border-top(@border-color);
    }
    &:after {
        .border-bottom(@border-color);
    }
    .form-preview-header {
        position: relative;
        padding: @padding-base-vertical @padding-base-horizontal;
        text-align: right;
        line-height: 2.5em;
        &:after {
            .border-bottom(@border-color);
            left: @padding-base-horizontal;
        }
        .form-preview-value {
            font-style: normal;
            font-size: 1.6em;
        }
    }
    .form-preview-body {
        padding: @padding-base-vertical @padding-base-horizontal;
        font-size: 0.9em;
        color: @gray-dark;
    }
    .form-preview-footer {
        position: relative;
        line-height: 1.333333rem;
        .display-flex();
        &:before {
            .border-top(@border-color);
        }
    }
    .form-preview-item {
        position: relative;
        overflow: hidden;
        & + .form-preview-item {
            margin-top: @padding-base-vertical;
        }
        .form-preview-label {
            float: left;
            margin-right: 1em;
            min-width: 4em;
            color: @gray-light;
            text-align: justify;
            text-align-last: justify;
            text-justify: inter-ideograph;
        }
        .form-preview-value {
            display: block;
            overflow: hidden;
            word-break: normal;
            word-wrap: break-word;
        }
        .form-preview-btn {
            position: relative;
            display: block;
            .box-flex();
            color: @gray-dark;
            text-align: center;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            &:active {
                background-color: @gray-lighter;
            }
            &:after {
                .border-bottom(@border-color);
            }
            &:first-child {
                &:after {
                    display: none;
                }
            }
        }
        .form-preview-btn-default {
            color: @gray-light;
        }
        .form-preview-btn-primary {
            color: @brand-primary;
        }
    }
}
// 顶部悬浮
header {
    &#header {
        padding-top: 1.173333rem;
    }
}
// 底部悬浮
footer {
    &#footer {
        padding-top: 1.44rem;
    }
}
.footer {
    .footer-variant(1.44rem; @gray-light; @brand-primary);
}
.footer-variant(@height; @color; @active-color) {
    .display-flex();
    .align-items();
    width: 100%;
    height: @height;
    color: @color;
    background-color: #fff;
    .justify-content();
    .list-unstyled();
    &:before {
        .border-top(@border-color);
    }
    .item-fill {
        .button-size(0; @padding-base-horizontal; @font-size-base; @height; 0);
    }
    .btn-curve {
        border-radius: (@height / 2) !important;
    }
    .icon {
        position: relative;
        display: inline-block;
        padding: 0 @padding-small-vertical @padding-small-vertical;
        font-family: "iconfont" !important;
        font-style: normal;
        line-height: inherit;
        -webkit-font-smoothing: antialiased;
        -webkit-text-stroke-width: 0.005333rem;
        -moz-osx-font-smoothing: grayscale;
        font-size: 0.48rem;
        .badge {
            position: absolute;
            top: -0.066667rem;
            right: -0.3rem;
        }
    }
    .tip {
        display: block;
        text-align: center;
    }
    .single-btn {
        width: 60%;
    }
    .item-flex {
        .box-flex();
    }
    &.tabs {
        > li {
            .box-flex();
            .btn {
                &:active .icon,
                &:active .tip,
                &.active .icon,
                &.active .tip,
                &.active span,
                &.activated .icon,
                &.activated .tip {
                    color: @active-color;
                    .badge {
                        color: #fff;
                    }
                }
            }
        }
        &.tabs-horizontal {
            > li {
                .btn {
                    /* padding: .4rem; */
                    height: @height;
                    line-height: @height;
                    .icon {
                        color: @color;
                        font-size: 0.533333rem;
                    }
                }
            }
        }
        &.tabs-vertical {
            > li {
                &:nth-child(1) .btn .icon:before {
                    content: "\e7cf";
                }
                &:nth-child(2) .btn .icon:before {
                    content: "\e7e1";
                }
                &:nth-child(3) .btn .icon:before {
                    content: "\e7c7";
                }
                &:nth-child(4) .btn .icon:before {
                    content: "\e7a9";
                }
                &:nth-child(5) .btn .icon:before {
                    content: "\e7e8";
                }
                &:nth-child(1) .btn.active .icon:before {
                    content: "\e7ce";
                }
                &:nth-child(2) .btn.active .icon:before {
                    content: "\e7e6";
                }
                &:nth-child(3) .btn.active .icon:before {
                    content: "\e7c8";
                }
                &:nth-child(4) .btn.active .icon:before {
                    content: "\e7ea";
                }
                &:nth-child(5) .btn.active .icon:before {
                    content: "\e7e5";
                }
                .btn {
                    position: relative;
                    font-size: 0.32rem;
                    line-height: 1;
                }
            }
        }
    }
}
// 底部弹出列表
.actionsheet {
    // 分享
    &.share-actionsheet {
        background-color: #fff;
    }
    .actionsheet();
}
.actionsheet() {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal;
    width: 100%;
    font-size: 0.4rem;
    background-color: @gray-lighter;
    .translate(0, 100%);
    .backface-visibility(hidden);
    .transition(-webkit-transform 0.3s);
    .transition(transform 0.3s);
    transition: transform 0.3s, -webkit-transform 0.3s;
    &.actionsheet-toggle {
        .translate(0, 0);
    }
    .actionsheet-title {
        position: relative;
        padding-top: 0.4rem;
        padding-bottom: 0.266667rem;
        width: 100%;
        min-height: 1.173333rem;
        font-size: inherit;
        background-color: #fff;
        p {
            font-size: 0.373333rem;
            color: @gray-light;
        }
    }
    ul.actionsheet-menu {
        .display-flex();
        .list-unstyled();
        // 换行，需要列宽
        &.row-wrap {
            .flex-wrap();
            > li {
                .box-flex(unset);
                width: 25%;
            }
        }
        // 纵向排列
        &.direction-column {
            .flex-direction(column);
        }
        // 水平居中
        &.horizontal-center {
            .justify-content(center);
        }
        // 垂直居中
        &.vertical-center {
            .align-items(center);
        }
        &.direction-column {
            > li {
                position: relative;
                margin-bottom: 0;
                height: 1.173333rem;
                line-height: 1.173333rem;
                color: @gray-dark;
                text-align: center;
                background-color: #fff;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                display: inline-block;
                .box-flex(unset);
                &:before {
                    .border-top(@border-color);
                }
                // &:first-child:before {
                //     display: none;
                // }
                &:active {
                    background-color: @gray-lighter;
                    a {
                        color: @brand-primary;
                    }
                }
                a {
                    display: block;
                    color: @gray-dark;
                    text-decoration: none;
                }
            }
        }
        > li {
            .display-flex();
            .box-flex(1);
            margin-bottom: 0.4rem;
            min-width: 0;
            color: @gray-dark;
            text-align: center;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            &:active {
                background-color: @gray-lighter;
            }
            > dl {
                margin-top: 0;
                margin-bottom: 0;
                padding: 0.133333rem;
                width: 100%;
                > dt {
                    width: 1.066667rem;
                    height: 1.066667rem;
                    line-height: 1.066667rem;
                    font-size: 0.64rem;
                    color: #fff;
                    border-radius: 50%;
                }
                > dd {
                    margin-left: 0;
                    padding: 0.266667rem 0 0;
                    font-size: 0.266667rem;
                    color: @gray-light;
                }
            }
            &:nth-child(1) > dl > dt {
                background-color: @brand-warning;
            }
            &:nth-child(2) > dl > dt {
                background-color: @brand-success;
            }
            &:nth-child(3) > dl > dt {
                background-color: @brand-danger;
            }
            &:nth-child(4) > dl > dt {
                background-color: @brand-info;
            }
            &:nth-child(5) > dl > dt {
                background-color: @gray-light;
            }
        }
    }
    .close {
        position: absolute;
        top: 0.4rem;
        right: 0.4rem;
        z-index: @zindex-modal + 1;
    }
    .actionsheet-cancel {
        margin-top: 0.266667rem;
        width: 100%;
        height: 1.173333rem;
        line-height: 1.173333rem;
        font-size: inherit;
        text-align: center;
        background-color: #fff;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:active {
            background-color: @gray-lighter;
        }
    }
}
// 模态框
.modal-open {
    overflow: hidden;
}
.modal-open {
    .modal {
        overflow-x: hidden;
        overflow-y: auto;
    }
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    display: none;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
button.close {
    -webkit-appearance: none;
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
}
.close {
    float: right;
    font-size: @font-size-base;
    line-height: 1 !important;
    color: @gray-dark;
    text-shadow: 0 1px 0 #fff;
    .opacity(0.2);
    &:hover,
    &:focus {
        color: @gray-dark;
        text-decoration: none;
        cursor: pointer;
        .opacity(0.2);
    }
}
.modal-dialog {
    position: relative;
    padding: 0 0.4rem;
}
.modal-lg {
    max-width: 21.333333rem;
}
.modal-sm {
    max-width: 8rem;
}
.modal-content {
    position: relative;
    margin: 0.8rem auto;
    background-color: #fff;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.2);
    /*border-radius: .16rem;*/
    outline: 0;
    -webkit-box-shadow: 0 0.08rem 0.24rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.08rem 0.24rem rgba(0, 0, 0, 0.5);
    h1,
    p {
        margin-bottom: 0.266667rem;
    }
}
// .modal-backdrop {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     z-index: 1040;
//     background-color: rgba(0, 0, 0, 0.6);
// }
.modal-header {
    min-height: 0.438095rem;
    padding: 0.266667rem 0.4rem;
    border-bottom: 1px solid @border-color;
    .close {
        margin-top: -0.053333rem;
    }
}
.modal-title {
    margin: 0;
    line-height: 1.47058824;
    color: #999;
    font-size: 0.426667rem;
    font-weight: 300;
}
.modal-body {
    position: relative;
    padding: 0.266667rem 0.4rem;
    max-height: 13.333333rem;
    overflow: auto;
}
.modal-footer {
    padding: 0.266667rem 0.4rem;
    text-align: right;
    border-top: 1px solid @border-color;
    .btn + .btn {
        margin-bottom: 0;
        margin-left: 0.133333rem;
    }
    .btn-group {
        .btn + .btn {
            margin-left: -1px;
        }
    }
    .btn-block + .btn-block {
        margin-left: 0;
    }
    &.modal-footer-custom {
        margin: 0;
        padding: 0;
        font-size: 0;
        li {
            display: inline-block;
            width: 50%;
            height: auto;
            border-left: 1px solid @border-color;
            &:first-child {
                border-left: 1px solid transparent;
            }
        }
        .btn {
            margin: 0.266667rem 0;
            border: transparent;
            background: none;
        }
    }
}
.modal-scrollbar-measure {
    position: absolute;
    top: -266.64rem;
    width: 1.333333rem;
    height: 1.333333rem;
    overflow: scroll;
}
//


// Tables
// --------------------------------------------------
table {
    background-color: @table-bg;
}
caption {
    padding-top: @table-cell-padding;
    padding-bottom: @table-cell-padding;
    color: @text-muted;
    text-align: left;
}
th {
    text-align: left;
}
// Baseline styles
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: @line-height-computed;
    // Cells
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: @table-cell-padding;
                line-height: @line-height-base;
                vertical-align: top;
                border-top: 1px solid @table-border-color;
            }
        }
    }
    // Bottom align for column headings
    > thead > tr > th {
        vertical-align: bottom;
        border-bottom: 2px solid @table-border-color;
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
        > tr:first-child {
            > th,
            > td {
                border-top: 0;
            }
        }
    }
    // Account for multiple tbody instances
    > tbody + tbody {
        border-top: 2px solid @table-border-color;
    }
    // Nesting
    .table {
        background-color: @body-bg;
    }
}
// Condensed table w/ half padding
.table-condensed {
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                padding: @table-condensed-cell-padding;
            }
        }
    }
}
// Bordered version
//


// Add borders all around the table and between all the columns.
.table-bordered {
    border: 1px solid @table-border-color;
    > thead,
    > tbody,
    > tfoot {
        > tr {
            > th,
            > td {
                border: 1px solid @table-border-color;
            }
        }
    }
    > thead > tr {
        > th,
        > td {
            border-bottom-width: 2px;
        }
    }
}
// Zebra-striping
//


// Default zebra-stripe styles (alternating gray and transparent backgrounds)
.table-striped {
    > tbody > tr:nth-of-type(odd) {
        background-color: @table-bg-accent;
    }
}
// Hover effect
//


// Placed here since it has to come after the potential zebra striping
.table-hover {
    > tbody > tr:hover {
        background-color: @table-bg-hover;
    }
}
// Table cell sizing
//


// Reset default table behavior
table col[class*="col-"] {
    position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
    float: none;
    display: table-column;
}
table {
    td,
    th {
        &[class*="col-"] {
            position: static; // Prevent border hiding in Firefox and IE9-11 (see https://github.com/twbs/bootstrap/issues/11623)
            float: none;
            display: table-cell;
        }
    }
}
// Table backgrounds
//


// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.
// Generate the contextual variants
.table-row-variant(active; @table-bg-active);
.table-row-variant(success; @state-success-bg);
.table-row-variant(info; @state-info-bg);
.table-row-variant(warning; @state-warning-bg);
.table-row-variant(danger; @state-danger-bg);
// Responsive tables
//


// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.
.table-responsive {
    overflow-x: auto;
    min-height: 0.01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
    @media screen and (max-width: 479px) {
        width: 100%;
        margin-bottom: (@line-height-computed * 0.75);
        overflow-y: hidden;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        border: 1px solid @table-border-color;
        // Tighten up spacing
        > .table {
            margin-bottom: 0;
            // Ensure the content doesn't wrap
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th,
                    > td {
                        white-space: nowrap;
                    }
                }
            }
        }
        // Special overrides for the bordered tables
        > .table-bordered {
            border: 0;
            // Nuke the appropriate borders so that the parent can handle them
            > thead,
            > tbody,
            > tfoot {
                > tr {
                    > th:first-child,
                    > td:first-child {
                        border-left: 0;
                    }
                    > th:last-child,
                    > td:last-child {
                        border-right: 0;
                    }
                }
            }
            // Only nuke the last row's bottom-border in `tbody` and `tfoot` since
            // chances are there will be only one `tr` in a `thead` and that would
            // remove the border altogether.
            > tbody,
            > tfoot {
                > tr:last-child {
                    > th,
                    > td {
                        border-bottom: 0;
                    }
                }
            }
        }
    }
}
//


// Progress bars
// --------------------------------------------------
// Bar animations
// -------------------------
// WebKit
@-webkit-keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
// Spec and IE10+
@keyframes progress-bar-stripes {
    from {
        background-position: 40px 0;
    }
    to {
        background-position: 0 0;
    }
}
// Bar itself
// -------------------------
// Outer container
.progress {
    overflow: hidden;
    height: @line-height-computed;
    margin-bottom: @line-height-computed;
    background-color: @progress-bg;
    border-radius: @progress-border-radius;
    .box-shadow(inset 0 1px 2px rgba(0, 0, 0, 0.1));
}
// Bar of progress
.progress-bar {
    float: left;
    width: 0%;
    height: 100%;
    font-size: @font-size-small;
    line-height: @line-height-computed;
    color: @progress-bar-color;
    text-align: center;
    background-color: @progress-bar-bg;
    .box-shadow(inset 0 -1px 0 rgba(0, 0, 0, 0.15));
    .transition(width 0.6s ease);
}
// Call animation for the active one
//


// `.progress.active .progress-bar` is deprecated as of v3.2.0 in favor of the
// `.progress-bar.active` approach.
.progress.active .progress-bar,
.progress-bar.active {
    .animation(progress-bar-stripes 2s linear infinite);
}
// Variations
// -------------------------
.progress-bar-success {
    .progress-bar-variant(@progress-bar-success-bg);
}
.progress-bar-info {
    .progress-bar-variant(@progress-bar-info-bg);
}
.progress-bar-warning {
    .progress-bar-variant(@progress-bar-warning-bg);
}
.progress-bar-danger {
    .progress-bar-variant(@progress-bar-danger-bg);
}
/*404*/
.wrap {
    .msg {
        padding-top: 10%;
        height: 100%;
        text-align: center;
        .msg-content {
            background-color: #fff;
            .pic {
                padding-bottom: 0.4rem;
                img {
                    display: block;
                    margin: 0 auto;
                    max-width: 100%;
                    height: auto;
                }
            }
            .topic {
                margin: 0 auto;
                padding: 10% 0;
                .title {
                    display: inline-block;
                    font-weight: 600;
                    line-height: 1.2rem;
                    font-size: 1.066667rem;
                }
                .des {
                    display: inline-block;
                    font-weight: 600;
                    line-height: 0.533333rem;
                    font-size: 0.4rem;
                    color: #666;
                }
            }
        }
    }
}
/* 导航 */
.navbar {
    position: relative;
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    width: 100%;
    height: @nav-height;
    &.affix {
        position: fixed;
    }
    &.navbar-light {
        background-color: #fff;
    }
    &.navbar-dark {
        color: #fff;
        background-color: @gray-dark;
    }
    .navbar-left,
    .navbar-right {
        .display-flex();
        .align-items(center);
    }
    .navbar-title {
        position: absolute;
        left: 50%;
        top: 0;
        z-index: @zindex-base;
        margin-left: -3.5em;
        width: 7em;
        height: @nav-height;
        line-height: @nav-height;
        font-size: @font-size-large;
        text-align: center;
        .text-ellipsis();
    }
    > ul {
        .list-unstyled();
        > li {
            padding-left: @padding-base-horizontal;
            padding-right: @padding-base-horizontal;
            min-width: @nav-height;
            height: @nav-height;
            line-height: @nav-height;
            text-align: center;
            font-size: @font-size-large;
            > a {
                position: relative;
                display: block;
                height: @nav-height;
                line-height: @nav-height;
                text-align: center;
                font-size: @font-size-large;
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
                .badge {
                    position: absolute;
                    top: 0.133333rem;
                    right: -0.266667rem;
                    font-size: @font-size-small;
                    color: #fff !important;
                    &:empty {
                        display: block;
                    }
                }
            }
            i + span {
                display: inline-block;
                margin-left: @padding-small-horizontal;
            }
        }
    }
}
// Dropdown menus
// Dropdown arrow/caret
.caret {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.026667rem;
    vertical-align: middle;
    border-top: @caret-width-base dashed;
    border-top: @caret-width-base solid ~"\9"; // IE8
    border-right: @caret-width-base solid transparent;
    border-left: @caret-width-base solid transparent;
}
// The dropdown wrapper (div)
.dropup,
.dropdown {
    position: relative;
    color: @gray-dark;
    &.open {
        .dropdown-toggle {
            &:after {
                content: " ";
                position: absolute;
                bottom: -@caret-width-large;
                left: 50%;
                z-index: @zindex-dropdown + 1;
                display: block;
                width: 0;
                height: 0;
                margin-left: -@caret-width-large;
                margin-bottom: -2px;
                border-bottom: @caret-width-large dashed;
                border-bottom: @caret-width-large solid ~"\9"; // IE8
                border-bottom-color: #fff;
                border-right: @caret-width-large solid transparent;
                border-left: @caret-width-large solid transparent;
            }
        }
    }
    &.dropdown-dark {
        color: #fff;
        &.open {
            .dropdown-toggle {
                &:after {
                    border-bottom-color: @gray-dark;
                }
            }
        }
        .dropdown-menu {
            background-color: @gray-dark;
            .divider {
                background-color: lighten(@gray-dark, 10%);
            }
            // Links within the dropdown menu
            > li {
                > span,
                > a {
                    color: inherit;
                    &:hover,
                    &:focus {
                        color: inherit;
                        background-color: darken(@gray-dark, 5%);
                    }
                }
            }
        }
    }
}
// The dropdown menu (ul)
.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: @zindex-dropdown;
    display: none; // none by default, but block on "open" of the menu
    float: left;
    min-width: 2.133333rem;
    padding: 0.066667rem 0;
    margin: (@caret-width-large - 0.013333rem) 0 0; // override default ul
    list-style: none;
    font-size: @font-size-base;
    text-align: left; // Ensures proper alignment if parent has it changed (e.g., modal footer)
    background-color: @dropdown-bg;
    border: 1px solid @dropdown-fallback-border; // IE8 fallback
    border: 1px solid @dropdown-border;
    border-radius: @border-radius-base;
    .box-shadow(0 0.08rem 0.16rem rgba(0, 0, 0, 0.175));
    &.text-center {
    > li {
        > span,
        > a {
                text-align: center;
            }
        }
    }
    // background-clip: padding-box;
    // Aligns the dropdown menu to right
    // Deprecated as of 3.1.0 in favor of `.dropdown-menu-[dir]`
    &.pull-right {
        right: 0;
        left: auto;
    }
    // Dividers (basically an hr) within the dropdown
    .divider {
        .nav-divider(@dropdown-divider-bg);
        margin-left: @padding-base-horizontal;
        margin-right: @padding-base-horizontal;
    }
    // Links within the dropdown menu
    > li {
        line-height: @line-height-base;
        > span,
        > a {
            display: block;
            padding: @padding-base-vertical @padding-base-horizontal;
            clear: both;
            font-weight: normal;
            line-height: inherit;
            color: @dropdown-link-color;
            white-space: nowrap; // prevent links from randomly breaking onto new lines
            &:hover,
            &:focus {
                text-decoration: none;
                color: @dropdown-link-hover-color;
                background-color: @dropdown-link-hover-bg;
            }
        }
    }
    &.has-icons {
        .divider {
            margin-left: ((@padding-base-vertical * 2) * @line-height-base) + @font-size-base;
        }
        // Links within the dropdown menu
        > li {
            position: relative;
            > i {
                position: absolute;
                top: 0;
                left: 0;
                z-index: @zindex-dropdown ;
                padding: @padding-base-vertical @padding-base-horizontal;
            }
            > span,
            > a {
                padding-left: ((@padding-base-vertical * 2) * @line-height-base) + @font-size-base;
            }
        }
    }
}
// Active state
.dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
        color: @dropdown-link-active-color;
        text-decoration: none;
        outline: 0;
        background-color: @dropdown-link-active-bg;
    }
}
// Disabled state
// Gray out text and ensure the hover/focus state remains gray
.dropdown-menu > .disabled > a {
    &,
    &:hover,
    &:focus {
        color: @dropdown-link-disabled-color;
    }
    // Nuke hover/focus effects
    &:hover,
    &:focus {
        text-decoration: none;
        background-color: transparent;
        background-image: none; // Remove CSS gradient
        cursor: @cursor-disabled;
    }
}
// Open state for the dropdown
.open {
    // Show the menu
    > .dropdown-menu {
        display: block;
        z-index: @zindex-dropdown;
    }
    // Remove the outline when :focus is triggered
    > a {
        outline: 0;
    }
}
// Menu positioning
// menu with the parent.
.dropdown-menu-right {
    left: auto; // Reset the default from `.dropdown-menu`
    right: 0;
}
.dropdown-menu-left {
    left: 0.133333rem;
    right: auto;
}
// Dropdown section headers
.dropdown-header {
    display: block;
    padding: 0.04rem 0.266667rem;
    font-size: @font-size-small;
    line-height: @line-height-base;
    color: @dropdown-header-color;
    white-space: nowrap; // as with > li > a
}
// Backdrop to catch body clicks on mobile, etc.
// .dropdown-backdrop {
//     position: fixed;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     top: 0;
//     z-index: (@zindex-dropdown - 10);
// }
// Right aligned dropdowns
.pull-right > .dropdown-menu {
    right: 0.133333rem;
    left: auto;
}
// Allow for dropdowns to go bottom up (aka, dropup-menu)
.dropup,
.navbar-fixed-bottom .dropdown {
    // Reverse the caret
    .caret {
        border-top: 0;
        border-bottom: @caret-width-base dashed;
        border-bottom: @caret-width-base solid ~"\9"; // IE8
        content: "";
    }
    // Different positioning for bottom up menu
    .dropdown-menu {
        top: auto;
        bottom: 100%;
        margin-bottom: 0.026667rem;
    }
}
// Component alignment
// Reiterate per navbar.less and the modified component alignment there.
@media (min-width: 768px) {
    .navbar-right {
        .dropdown-menu {
            .dropdown-menu-right();
        }
        // Necessary for overrides of the default right aligned menu.
        // Will remove come v4 in all likelihood.
        .dropdown-menu-left {
            .dropdown-menu-left();
        }
    }
}
