// 通用列表
.list {
    // 基本设置
    & + .list {
        // 列表组间隔
        margin-top: 0.266667rem;
    }
    position: relative;
    &.border-top, // 顶部底部细线
    &.border-bottom {
        position: relative;
        &:before,
        &:after {
            content: " ";
            position: absolute;
            left: 0;
            right: 0;
            height: 1px;
            color: @border-color;
            .scaleY(0.5);
            z-index: @zindex-base;
        }
        &:before {
            top: 0;
            border-top: 1px solid @border-color;
            .transform-origin(0 0);
        }

        &:after {
            bottom: 0;
            border-bottom: 1px solid @border-color;
            .transform-origin(0 100%);
        }
    }
    &.card {
        // 卡片样式
        .item {
            &:after {
                content: " ";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                height: 1px;
                border-bottom: 1px solid @border-color;
                .scaleY(0.5);
                .transform-origin(0 100%);
            }
            &:before,
            &:after {
                margin-left: 0;
                margin-right: 0;
                width: calc(100vw);
            }
        }
        & + .item {
            margin-top: 0.266667rem;
        }
    }
    &.clear-border {
        // 清除border
        .item {
            &:before {
                display: none;
            }
        }
    }
    font-size: @font-size-base;
    line-height: @line-height-base;
    small {
        // 小字号
        line-height: @line-height-computed;
    }
    .item-note {
        // 右边文字
        float: right;
        color: @gray-light;
        font-size: 82.35%;
    }
}

.item {
    position: relative;
    .display-flex();
    padding: @padding-base-horizontal;
    color: @gray-dark;
    text-decoration: none;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    &:first-child {
        &:before {
            display: none;
        }
    }
    &:last-child {
        &:after {
            display: none;
        }
    }
    &:before {
        content: " ";
        position: absolute;
        left: 0;
        right: 0;
        margin-left: @padding-base-horizontal;
        margin-right: 0;
        width: calc(100vw - @padding-base-horizontal);
        height: 1px;
        top: 0;
        border-top: 1px solid @border-color;
        .scaleY(0.5);
        .transform-origin(0 0);
    }
    &.direction-column {
        // 垂直排列
        .direction-column();
    }
    &.horizontal-center {
        // 水平居中
        .horizontal-center();
    }
    &.vertical-center {
        // 垂直居中
        .vertical-center();
    }
    &.item-link {
        // 链接
        font-size: @font-size-base;
        color: @link-color;
        &:first-child {
            &:before {
                display: block;
            }
        }
    }
    &.item-button-right {
        // 右边按钮
        padding: 0.186667rem 0.4rem;
        .btn {
            margin-left: 0.266667rem;
            padding: 0.106667rem 0.266667rem;
        }
    }
    &.item-access {
        // 激活效果
        color: inherit;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        &:active {
            background-color: @gray-lighter;
        }

        .item-footer {
            position: relative;
            padding-right: 0.4rem;
            &:after {
                content: " ";
                display: inline-block;
                position: absolute;
                top: 50%;
                right: 0.053333rem;
                margin-top: -0.133333rem;
                width: 0.266667rem;
                height: 0.266667rem;
                border-width: 1px 1px 0 0;
                border-color: @gray-lighter;
                border-style: solid;
                .matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
            }
        }
        &.item-access-clear-flag {
            // 清除右箭头
            .item-footer {
                &:after {
                    display: none;
                }
            }
        }
    }
    .item-header {
        // 头
        .icon {
            margin-right: @padding-small-horizontal;
        }
    }
    .item-body {
        // 正文
        .box-flex();
        font-size: @font-size-base;
    }

    .item-footer {
        // 尾
        text-align: right;
        color: @gray-light;
    }
    .badge {
        // 徽章
        background-color: @brand-danger;
    }
    .text {
        // 文本
        .box-flex();
    }
    h4 {
        font-size: 0.4rem;
    }
    h5 {
        font-size: 0.373333rem;
    }
    .text-lg {
        font-size: 0.453333rem !important;
    }
    .text-muted {
        color: #999;
    }
    .desc {
        font-size: 0.373333rem;
        .mtext-ellipsis(2);
    }
}

.item {
    // 缩略图
    &.item-thumb {
        &:before {
            margin-left: 0;
            margin-right: 0;
            width: calc(100vw);
        }
        .thumb {
            position: relative;
            margin: 0 0.4rem 0 0;
            &.thumb-xs {
                width: 30%;
            }
            &.thumb-sm {
                width: 35%;
            }
            &.thumb-md {
                width: 40%;
            }
            &.thumb-lg {
                width: 45%;
            }
            &.thumb-right {
                margin: 0 0 0 0.4rem !important;
            }
            .badge {
                position: absolute;
                top: -0.4em;
                right: -0.4em;
                z-index: 2;
            }
            img,
            video {
                .img-responsive();
            }
        }
    }
    &.item-thumb-right {
        // 图片右对齐
        .thumb {
            margin: 0 0 0 0.4rem;
            img {
                .img-responsive();
            }
        }
    }
}

.item {
    // 缩略图组
    &.item-thumb-group {
        .thumb {
            .display-flex();
            margin-right: 0;
            > * {
                .box-flex(1);
                & + * {
                    margin-left: 0.133333rem;
                }
            }
            img,
            video {
                .img-responsive();
            }
        }
    }
}

.item {
    // 头像
    &.item-avatar {
        &:before {
            margin-left: 1.84rem;
            width: calc(100vw - 2.24rem);
        }
        .avatar {
            margin: 0 0.4rem 0 0;
            width: 1.2rem;
            height: 1.2rem;
            img {
                .img-responsive();
                border-radius: 50%;
            }
            .badge {
                position: absolute;
                top: -0.4em;
                right: -0.4em;
                z-index: 2;
            }
        }
    }
}

.item-title,
.item-divider {
    // 标题和间隔
    margin-top: 0.77em;
    margin-bottom: 0.3em;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    color: #999;
    font-size: 0.373333rem;
}

.item {
    // item开关
    &.item-toggle {
        padding: 0.266667rem 0.4rem;
        pointer-events: none;
    }
}

.toggle { // 开关
    position: relative;
    display: inline-block;
    pointer-events: auto;
    font-size: 0;
    input {
        -webkit-appearance: none;
        position: absolute;
        z-index: 2;
        width: 1.066667rem;
        height: 0.64rem;
        border: none;
        outline: 0;
        border-radius: 0.373333rem;
        &:checked {
            &+.track {
                border-color: #1edbb5;
                background-color: #1edbb5;
            }
        }
    }
}



.toggle .track {
    -webkit-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: background-color, border;
    transition-property: background-color, border;
    display: inline-block;
    box-sizing: border-box;
    width: 1.066667rem;
    height: 0.64rem;
    border: solid 0.053333rem #dcdcdc;
    border-radius: 0.373333rem;
    background-color: #dcdcdc;
    content: " ";
    cursor: pointer;
    pointer-events: none;
}

.toggle .handle {
    -webkit-transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    transition: 0.3s cubic-bezier(0, 1.1, 1, 1.1);
    -webkit-transition-property: background-color, transform;
    transition-property: background-color, transform;
    position: absolute;
    display: block;
    width: 0.533333rem;
    height: 0.533333rem;
    border-radius: 0.346667rem;
    background-color: #fff;
    top: 0.053333rem;
    left: 0.053333rem;
    box-shadow: 0 1px 0.053333rem rgba(0, 0, 0, 0.35), 0 0rem 0.053333rem rgba(0, 0, 0, 0.15);
}

.toggle input:checked + .track .handle {
    -webkit-transform: translate3d(0.4rem, 0, 0);
    transform: translate3d(0.4rem, 0, 0);
    background-color: #fff;
}

.item-toggle.active {
    box-shadow: none;
}

.item-toggle .toggle {
    text-align: right;
    color: #888;
}

.toggle input:disabled + .track {
    opacity: 0.6;
}

/* 选择框 */
.item.item-radio,
.item.item-checkbox {
    padding-left: 1.173333rem;
}

.item-radio .radio,
.item-checkbox .checkbox {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -moz-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    -webkit-align-items: center;
    -moz-align-items: center;
    align-items: center;
}

.item-radio .radio,
.item-checkbox .checkbox {
    position: absolute;
    left: 0.4rem;
}

.item-checkbox.item-checkbox-right {
    padding-right: 0.4rem;
    padding-left: 0.4rem;
}

.item-checkbox-right .checkbox input {
    position: absolute;
    top: 50%;
    right: 0.4rem;
    margin-top: -0.24rem;
}

/* 纵向排列视图 */
.list.view-horizontal {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
}

.list.view-horizontal .border-top:before,
.list.view-horizontal:before,
.list.view-horizontal .border-top:after,
.list.view-horizontal:after {
    display: none;
}

.list.view-horizontal .item {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    -webkit-flex-basis: 48%;
    flex-basis: 48%;
    max-width: 49.4%;
    background-color: #fff;
    overflow: hidden;
    flex-direction: column;
}

.list.view-horizontal .item.vertical-center {
    -ms-flex-align: normal;
    -webkit-align-items: normal;
    -moz-align-items: normal;
    align-items: normal;
}

.list.view-horizontal .item .thumb {
    margin: 0 0 0.266667rem 0;
    width: auto;
}

.list.view-horizontal .item.item-thumb-right .thumb {
    margin: 0.266667rem 0 0 0;
    width: auto;
}

.list.view-horizontal .item:before {
    display: none;
}

.list.view-horizontal .item:nth-child(2n) {
    margin-bottom: 0.133333rem;
}

.list.view-horizontal .item:nth-child(2n-1) {
    margin-right: 0.133333rem;
    margin-bottom: 0.133333rem;
}
