// /*详情*/
.detail-picture {
    position: relative;
    > img {
        .center-block();
        .img-responsive(block);
    }
}
.detail-box {
    line-height: @line-height-base;
    background-color: #fff;
    h1 {
        margin-top: @padding-base-vertical;
        font-size: @font-size-large;
    }
    .tip {
        margin-top: @padding-base-vertical;
        font-size: @font-size-small;
        color: @gray-light;
    }
    .content {
        line-height: inherit;
        img {
            .img-responsive(block);
            .center-block();
        }
    }
    p {
        font-size: @font-size-base;
        + p {
            margin-top: @padding-small-vertical;
        }
    }
    .margin-top {
        margin-top: @padding-small-vertical;
    }
    .margin-bottom {
        margin-bottom: @padding-small-vertical;
    }
}
// 文章
.article-header {
    h1 {
        font-size: 0.64rem;
    }
    .article-info {
        font-size: @font-size-small;
    }
}
.article-content {
    font-size: 0.426667rem;
    p {
        margin-top: 0.133333rem;
        margin-bottom: @padding-base-vertical;
    }
    img {
        .img-responsive(block);
        .center-block();
    }
}
// 登录和注册
.login-wrap,
.register-wrap {
    background-color: @brand-primary !important;
    background: url("../images/login-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
.login-copyright,
.register-copyright {
    width: 100%;
    height: 1.6rem;
    line-height: 1.6rem;
    font-size: @font-size-small;
    color: #fff;
    text-align: center;
}
.login-logo,
.register-logo {
    font-size: @font-size-h4;
    text-align: center;
    font-weight: @headings-font-weight;
    color: #fff;
}
.login-logo,
.register-logo {
    img {
        .center-block();
        .img-responsive(block);
        width: 1.6rem;
    }
}
.login-box,
.register-box {
    margin: 0 auto;
    padding: 10% 0;
    font-size: @font-size-base;
}
@media (max-width: 20.48rem) {
    .login-box,
    .register-box {
        width: 90%;
        margin-top: 0;
        padding-top: @padding-large-vertical;
    }
}
.login-box-body,
.register-box-body {
    padding: @padding-large-vertical @padding-large-horizontal;
    border-top: 0;
    color: #fff;
    .form-group {
        .form-group-variant(1.333333rem);
    }
    .form-group-variant(@height) {
        position: relative;
        margin-bottom: @padding-large-vertical;
        .form-control {
            font-size: inherit;
            height: @height;
            color: @gray-dark;
            border: 0;
            border-radius: @height / 2;
            .box-shadow(inset 0 0.08rem 0.266667rem rgba(0, 0, 0, 0.08));
        }
        &.has-feedback {
            .form-control-feedback {
                left: 0;
                width: @height;
                height: @height;
                line-height: @height;
                color: rgba(0, 0, 0, 0.3);
            }
            .form-control {
                padding-left: @height;
                padding-right: @padding-large-horizontal;
            }
        }
        .toggle {
            input:checked {
                + .track {
                    border-color: darken(@brand-primary, 3%);
                    background-color: darken(@brand-primary, 3%);
                    .handle {
                        background-color: #fff;
                    }
                }
            }
            .track {
                border: 0.053333rem solid darken(@brand-primary, 3%);
                background-color: darken(@brand-primary, 3%);
                -webkit-box-shadow: inset 0.066667rem 0.066667rem 0.133333rem
                    rgba(0, 0, 0, 0.08);
                box-shadow: inset 0.066667rem 0.066667rem 0.133333rem
                    rgba(0, 0, 0, 0.08);
                .handle {
                    background-color: @brand-primary;
                }
            }
        }
        &.form-group-footer [type="submit"] {
            width: 100%;
            height: @height;
            font-size: @font-size-large;
            color: #fff;
            border-width: 0.053333rem;
            border-color: #fff;
            letter-spacing: 0.133333rem;
            background-color: transparent;
            border-radius: 0.666667rem;
            .box-shadow(0 0 0.133333rem rgba(0, 0, 0, 0.125));
            &:active,
            &.active,
            &.activated {
                .box-shadow(inset 0 0.08rem 0.133333rem rgba(0, 0, 0, 0.125));
            }
        }
    }
}
// 用户中心
.user-header {
    min-height: 6.946667rem;
    background-color: @gray-dark;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: cover;
    .navbar-light {
        background-color: rgba(255, 255, 255, 0.175);
    }
    .navbar-dark {
        background-color: rgba(0, 0, 0, 0.175);
    }
}
.user-face {
    .user-face-variant(1.6rem; 1.6rem);
}
.user-face-variant(@width; @height) {
    margin: @padding-base-vertical auto;
    width: @width;
    height: @height;
    a {
        display: block;
    }
    img {
        display: block;
        width: @width;
        height: @height;
        border: 0.066667rem solid rgba(255, 255, 255, 0.5);
        border-radius: @height / 2;
    }
}
.user-name {
    margin-bottom: @padding-base-vertical;
    padding: 0 @padding-base-horizontal;
    font-size: @font-size-large;
    text-align: center;
    color: inherit;
}
.user-autograph {
    margin-bottom: @padding-base-vertical;
    padding: 0 @padding-large-horizontal;
    font-size: @font-size-small;
    text-align: center;
    color: inherit;
    .mtext-ellipsis(2);
}
ul.user-info {
    .list-unstyled();
    .display-flex();
    .justify-content(space-between);
    .align-items(center);
    padding: @padding-base-vertical 0;
    > li {
        position: relative;
        display: block;
        .box-flex(1);
        &:before {
            content: " ";
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            width: 1px;
            border-left: 1px solid rgba(255, 255, 255, 0.5);
            color: rgba(255, 255, 255, 0.5);
            .transform-origin(100% 0);
            .scaleX(0.5);
        }
        &:first-child:before {
            display: none;
        }
        dl {
            margin-top: 0;
            margin-bottom: 0;
            dt,
            dd {
                padding-left: @padding-small-horizontal;
                padding-right: @padding-small-horizontal;
                line-height: 1;
                text-align: center;
            }
            dt {
                font-size: @font-size-large;
            }
            dd {
                margin-top: @padding-base-vertical;
                margin-left: 0;
                font-size: @font-size-small;
            }
        }
    }
}
// 用户中心图文组
ul.user-capability {
    .list-unstyled();
    .display-flex();
    .align-items(center);
    .flex-wrap(wrap);
    > li {
        position: relative;
        display: block;
        width: 25%;
        > a {
            display: block;
            padding: @padding-base-vertical @padding-base-horizontal;
            background-color: #fff;
            &:active {
                background-color: @gray-lighter;
            }
        }
        dl {
            margin-top: 0;
            margin-bottom: 0;
            dt,
            dd {
                padding-left: @padding-small-horizontal;
                padding-right: @padding-small-horizontal;
                line-height: 1;
                text-align: center;
            }
            dt {
                font-size: @font-size-large;
                img {
                    .center-block();
                    width: 1.066667rem;
                    height: 1.066667rem;
                }
            }
            dd {
                margin-top: @padding-base-vertical;
                margin-left: 0;
                font-size: @font-size-small;
                &:nth-child(3) {
                    margin-top: @padding-small-vertical;
                    color: @gray-light;
                }
            }
        }
    }
    &.space-left {
        position: relative;
        > li + li {
            margin-left: 0;
            &:before {
                content: " ";
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                width: 1px;
                border-left: 1px solid @border-color;
                color: @border-color;
                .transform-origin(100% 0);
                .scaleX(0.5);
            }
        }
    }
}
// 关于
.about-wrap {
    .about-logo {
        img {
            width: 1.6rem;
        }
    }
    .about-qrcode {
        margin-left: auto;
        margin-right: auto;
        width: 4rem;
        height: 4rem;
        img {
            .img-responsive(block);
            .center-block();
        }
    }
}
// 用户名片
.user-qrcode-wrap {
    background-color: #fff;
    .user-qrcode {
        position: relative;
        width: 5.333333rem;
        height: 5.333333rem;
        img {
            .img-responsive(block);
            .center-block();
        }
        .icon {
            display: block;
            position: absolute;
            top: 50%;
            left: 50%;
            z-index: @zindex-base;
            margin: -0.426667rem 0 0 -0.426667rem;
            width: 0.853333rem;
            height: 0.853333rem;
            border: 0.133333rem solid #fff;
        }
    }
}
// 聊天列表
.chatslist {
    position: relative;
    font-size: @font-size-base;
    line-height: @line-height-base;
    .chatsitem {
        // 列表组间隔
        + .chatsitem {
            margin-top: @padding-large-vertical;
        }
        position: relative;
        .display-flex();
        padding-left: @padding-base-horizontal;
        padding-right: @padding-base-horizontal;
        color: @gray-dark;
        text-decoration: none;
        overflow: hidden;
        .avatar {
            display: inline-block;
            width: (@padding-base-vertical * 2) + (@font-size-base * @line-height-base);
            height: (@padding-base-vertical * 2) + (@font-size-base * @line-height-base);
            img {
                .img-responsive(inline-block);
                border-radius: @border-radius-base;
            }
        }
        &.fromchats {
            .avatar {
                margin-right: @padding-base-horizontal;
            }
        }
        &.tochats {
            .justify-content(flex-end);
            .avatar {
                margin-left: @padding-base-horizontal;
            }
        }
        // 正文
        .chatsitem-body {
            display: inline-block;
            position: relative;
            padding: @padding-base-vertical;
            min-width: 0;
            max-width: 6.933333rem;
            font-size: @font-size-base;
            border-radius: @border-radius-base;
            &:after {
                content: " ";
                position: absolute;
                top: @padding-base-vertical;
                z-index: @zindex-base;
                border: @caret-width-large solid transparent;
            }
        }
        &.fromchats {
            .chatsitem-body {
                background-color: #fff;
                &:before {
                    border: 1px solid darken(@border-color, 10%);
                }
                &:after {
                    right: 100%;
                    margin-right: -1px;
                    border-right-color: #fff;
                }
            }
        }
        &.tochats {
            .chatsitem-body {
                background-color: @brand-primary;
                &:before {
                    border: 1px solid darken(@brand-primary, 10%);
                }
                &:after {
                    left: 100%;
                    margin-left: -1px;
                    border-left-color: @brand-primary;
                }
            }
        }
        // 尾
        .chatsitem-footer {
            text-align: right;
        }
        // 激活效果
        &.chatsitem-access {
            .chatsitem-body {
                -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            }
            &.fromchats {
                .chatsitem-body:active {
                    background-color: darken(#fff, 2%);
                    &:after {
                        border-right-color: darken(#fff, 2%);
                    }
                }
            }
            &.tochats {
                .chatsitem-body:active {
                    background-color: darken(@brand-primary, 2%);
                    &:after {
                        border-left-color: darken(@brand-primary, 2%);
                    }
                }
            }
            .chatsitem-footer {
                position: relative;
                padding-right: @padding-base-horizontal;
                &:after {
                    content: " ";
                    display: inline-block;
                    position: absolute;
                    top: 50%;
                    right: 0.053333rem;
                    margin-top: -0.133333rem;
                    width: @padding-base-vertical;
                    height: @padding-base-vertical;
                    border-width: 1px 1px 0 0;
                    border-color: @border-color;
                    border-style: solid;
                    .matrix(0.71, 0.71, -0.71, 0.71, 0, 0);
                }
            }
        }
    }
    // 时间
    .chatsitem-time {
        margin-top: @padding-base-vertical;
        margin-bottom: @padding-base-vertical;
        text-align: center;
        small {
            display: inline-block;
            padding: @padding-small-vertical @padding-small-horizontal;
            color: @gray-light;
            font-size: @font-size-small;
            background-color: @gray-lighter;
            border-radius: @border-radius-small;
        }
    }
}
// 聊天输入框面板
.chats-input-panel {
    .display-flex();
    .justify-content(space-between);
    .align-items(flex-end);
    padding: @padding-base-vertical @padding-base-horizontal;
    background-color: #fff;
    > * {
        min-width: 1.226667rem;
        height: inherit;
    }
    // 编辑区域
    .editor-container {
        .box-flex(1);
        .editor-text {
            position: relative;
            padding: @padding-small-vertical @padding-small-horizontal;
            min-height: 1.44rem - (@padding-base-vertical * 2);
            max-height: 1.44rem * 2;
            font-size: @font-size-base;
            line-height: inherit;
            background-color: darken(@gray-lighter, 5%);
            border-radius: @border-radius-base;
            word-wrap: break-word;
            overflow-x: hidden;
            overflow-y: auto;
            -webkit-user-modify: read-write-plaintext-only;
            &:after {
                .border(darken(@border-color, 5%) ; @border-radius-base);
            }
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }
    // 图标
    .icon {
        font-size: @font-size-h2;
        color: @gray-dark;
        line-height: 1.44rem - (@padding-base-vertical * 2);
        text-align: center;
    }
    // 按钮
    .btn {
        padding: 0 @padding-small-horizontal;
        font-size: @font-size-base;
        line-height: 1.44rem - (@padding-base-vertical * 2);
    }
}

// 聊天底部弹出菜单
.chats-emotions-panel {
    .swiper-pagination-bullet-active {
        background: @gray;
    }
}
.emotions-container {
    padding: (@padding-large-vertical * 2) @padding-base-horizontal;
    ul.emotions-menu {
        .list-unstyled();
        > li {
            margin-bottom: @padding-small-horizontal;
            padding-top: @padding-small-vertical;
            padding-bottom: @padding-small-vertical;
            width: 14.285714%;
            > img {
                .img-responsive(block);
                .center-block();
                width: 0.64rem;
                height: 0.64rem;
            }
        }
    }
}

// swiper相关
.pull-down,
.pull-up {
    padding: @padding-base-vertical @padding-base-horizontal;
    font-size: @font-size-small;
    text-align: center;
    color: lighten(@gray-light, 20%);
}
.v-swiper,
.w {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.v-swiper {
    overflow: auto;
    .list + .list {
        margin-top: 0;
    }
}
.swiper-slide.d {
    height: auto;
}
.swiper-slide {
    > img {
        .center-block();
        .img-responsive(block);
        width: 100%;
    }
    > a {
        &:not(.item) {
            display: block;
        }
        > img {
            .center-block();
            .img-responsive(block);
            width: 100%;
        }
    }
}
// 选项卡
#nav {
    padding-top: @nav-height;
    width: 100%;
    height: @nav-height;
    background-color: #fff;
}
#footer {
    padding-bottom: 1.44rem;
    width: 100%;
    height: 1.44rem;
}
.tab-swiper {
    position: fixed;
    top: @nav-height;
    left: 0;
    z-index: @zindex-navbar;
    list-style: none;
    margin: 0;
    padding: 0;
    height: @nav-height; 
    line-height: @nav-height - 0.053333rem;
    width: 100%;
    background-color: #fff;
    .swiper-slide {
        text-align: center;
        a {
            display: inline-block;
            height: @nav-height; 
            line-height: @nav-height - 0.053333rem;
            color: @gray;
            font-size: @font-size-base;
        }
        &.swiper-slide-thumb-active {
            a {
                padding: 0 @padding-small-horizontal;
                border-bottom: .053333rem solid @brand-primary;
                color: @brand-primary;
            }
        }
    }
}
// 画廊
.gallery-swiper-wrap {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: @zindex-modal-background - 11;
    width: 100%;
    height: 100%;
    background-color: @gray-base;
    .gallery-swiper {
        width: 100%;
        height: 100%;
        .swiper-slide {
            text-align: center;
            font-size: @font-size-base;
            overflow: hidden;
            h4 {
                text-align: left;
                font-size: @font-size-h4;
            }
            p {
                text-align: left;
                font-size: @font-size-base;
            }
        }
    }
}
// 播放器按钮
.v-play {
    .v-play-variant(1.333333rem);
}
.v-play-variant(@size) {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: @zindex-base;
    margin-top: -(@size / 2) !important;
    margin-left: -(@size / 2) !important;
    width: @size !important;
    height: @size !important;
    background-image: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4NCjwhLS0gR2VuZXJhdG9yOiBBZG9iZSBJbGx1c3RyYXRvciAyMi4wLjIsIFNWRyBFeHBvcnQgUGx1Zy1JbiAuIFNWRyBWZXJzaW9uOiA2LjAwIEJ1aWxkIDApICAtLT4NCjxzdmcgdmVyc2lvbj0iMS4xIiBpZD0i5Zu+5bGCXzEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIHg9IjBweCIgeT0iMHB4Ig0KCSB2aWV3Qm94PSIwIDAgMTAwIDEwMCIgc3R5bGU9ImVuYWJsZS1iYWNrZ3JvdW5kOm5ldyAwIDAgMTAwIDEwMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPg0KPHN0eWxlIHR5cGU9InRleHQvY3NzIj4NCgkuc3Qwe29wYWNpdHk6MC41O30NCgkuc3Qxe2ZpbGw6I0ZGRkZGRjt9DQo8L3N0eWxlPg0KPGNpcmNsZSBjbGFzcz0ic3QwIiBjeD0iNTAiIGN5PSI1MCIgcj0iNDkiLz4NCjxwYXRoIGNsYXNzPSJzdDEiIGQ9Ik0zNi43LDc5bDM4LjctMjlMMzYuNywyMVY3OXogTTQxLjksMzEuNUw2Ni42LDUwTDQxLjksNjguNVYzMS41eiIvPg0KPC9zdmc+DQo=");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.video-js .vjs-big-play-button {
    font-size: 2.5em;
    line-height: 2.3em;
    height: 2.5em;
    width: 2.5em;
    -webkit-border-radius: 2.5em;
    -moz-border-radius: 2.5em;
    border-radius: 2.5em;
    background-color: #73859f;
    background-color: rgba(115, 133, 159, 0.5);
    border-width: 0.15em;
    margin-top: -1.25em;
    margin-left: -1.75em;
}
// 中间的播放箭头
.vjs-big-play-button .vjs-icon-placeholder {
    font-size: 1.63em;
}
// 加载圆圈
.vjs-loading-spinner {
    font-size: 2.5em;
    width: 2em;
    height: 2em;
    border-radius: 1em;
    margin-top: -1em;
    margin-left: -1.5em;
}
.video-js.vjs-playing .vjs-tech {
    pointer-events: auto;
}
// 播放器时间
.v-duration {
    .v-duration-variant(0.133333rem; 0.133333rem);
}
.v-duration-variant(@x; @y) {
    display: block;
    position: absolute;
    right: @x;
    bottom: @y;
    z-index: @zindex-base;
    padding: 0 @x;
    height: @y * 4;
    line-height: @y * 4;
    font-size: 0.32rem;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: @border-radius-base;
}
// dialog
.dialog {
    &.dialog-content-bd-hide {
        .dialog-content-bd {
            display: none;
        }
    }
    .dialog-content {
        border-radius: @border-radius-base;
        .dialog-content-ft {
            &.stacked {
                :after {
                    display: none;
                }
                .dialog-btn,
                .dialog-btn-hl {
                    color: @gray-dark;
                    font-size: @font-size-base;
                }
                
            }
        }
    }
}